section.engineering-service

    div.engineering-service__title-block
        h2.engineering-service__title Инженерная
            span служба
        span.engineering-service__description 922 обращения в инженерную службу за 2016 год

    div.engineering-service__points
        div.engineering-service__point
            div.engineering-service__point-title-block
                span.engineering-service__point-nubmer 01
                h3.engineering-service__point-title Инженерный расчет и подбор
            p.engineering-service__point-text
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.

        div.engineering-service__point
            div.engineering-service__point-title-block
                span.engineering-service__point-nubmer 02
                h3.engineering-service__point-title Выезд на замеры и подбор
            p.engineering-service__point-text
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.

        div.engineering-service__point
            div.engineering-service__point-title-block
                span.engineering-service__point-nubmer 03
                h3.engineering-service__point-title Соединение и ремонт комплектующих на предприятии
            p.engineering-service__point-text
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                | долговечность других элементов оборудования и на эффективность работы всего узла в целом.

    p.engineering-service__bordered-text
        | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
        | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
        | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
        | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
        | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
        | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
        | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
        | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
