div.engineering-service_slider
    div.engineering-service_slide(style="background-image: url('img/image-slider.jpg')")
    div.engineering-service_slide(style="background-image: url('img/image-slider.jpg')")
    div.engineering-service_slide(style="background-image: url('img/image-slider.jpg')")
    div.engineering-service_slide(style="background-image: url('img/image-slider.jpg')")
