section.logistics
    div.logistics__title-block
        h2.logistics__title Логистика

    div.logistics__points
        div.logistics__point
            div.logistics__point-description
                h3.logistics__point-title Продуманный импорт
                p.logistics__point-description-text
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
            div.logistics__point-image(style="background-image: url('img/solutions-item-1.png')")

        div.logistics__point
            div.logistics__point-description
                h3.logistics__point-title Организация доставки
                p.logistics__point-description-text
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
                    | Правильность подбора комплектующих влияет как на срок службы самой зап. части, так и на
                    | долговечность других элементов оборудования и на эффективность работы всего узла в целом.
            div.logistics__point-image(style="background-image: url('img/solutions-item-1.png')")
