section.solutions-progress
    .content
        ul.solutions-progress__list
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-1.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Плоские ремни на &#171;фальцесклейку&#187; TCY
                        .solutions-progress-description.mCustomScrollbar Проскальзывают ремни на &#171;фальцесклейке&#187;?Разворачивает картонные заготовки? Брак по непонятным причинам на исправной линии? Решение есть!
                        a(href='#').solutions-progress-button Смотреть решение
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-2.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Ремни на экитеровщик своего производства
                        .solutions-progress-description.mCustomScrollbar SystemPlast представляет новое поколение материала пластинчатых цепей и модульных лент - NG evo и запантентованный материал Nolu-s для направляющих и трэков.
                        a(href='#').solutions-progress-button Смотреть решение
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-3.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Идеальная лента Nitta на ротор-штамп
                        .solutions-progress-description.mCustomScrollbar Уже более 5 лет 2LRCFR R для российских предприятий является отличной альтернативой цельнотканным лентам.
                        button.solutions-progress-button(type="button") Смотреть решение
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-4.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Плоские ремни на &#171;фальцесклейку&#187; TCY
                        .solutions-progress-description.mCustomScrollbar Проскальзывают ремни на &#171;фальцесклейке&#187;? Разворачивает картонные заготовки? Брак по непонятным причинам на исправной линии? Решение есть!
                        button.solutions-progress-button(type="button") Смотреть решение
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-5.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Ремни на экитеровщик своего производства
                        .solutions-progress-description.mCustomScrollbar SystemPlast представляет новое поколение материала пластинчатых цепей и модульных лент - NG evo и запантентованный материал Nolu-s для направляющих и трэков.
                        a(href='#').solutions-progress-button Смотреть решение
            li.solutions-progress__item
                div.solutions-progress__blue-border
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__img-section(style="background-image: url('img/solutions-item-6.png')")
                section.solutions-progress__content-section-wrapper
                    .solutions-progress__content-section
                        h3.solutions-progress__title Идеальная лента Nitta на ротор-штамп
                        .solutions-progress-description.mCustomScrollbar Уже более 5 лет 2LRCFR R для российских предприятий является отличной альтернативой цельнотканным лентам.
                        button.solutions-progress-button(type="button") Смотреть решение
        .solutions-progress__load-more
            a(href='#').solutions-progress__load-more__link Загрузить еще