section.solutions-industries
    .content
        .caption
            .caption-wrapper
                .caption__title__green-band
                h2.caption__title Технические&#160;
                    span.cation__title__accent решения&#160;
                    |и&#160;
                    span.cation__title__accent новинки