section.navigation-solutions
    h1.navigation-solutions__title Решения для отраслей
    p.navigation-solutions__breadcrumb
        a.navigation-solutions__link(href="#") Главная
        |&#160;> Решения для отраслей