.solutions-progress--action__header
    section.solutions-industries
        .content
            .caption
                .caption-wrapper
                    .caption__title__green-band
                    h2.caption__title
                        span.cation__title__accent Прогресс&#160;
                        |в действии
                p.caption__description Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Товарищи! консультация с широким активом требуют от нас анализа соответствующий условий активизации.