extends ../layout.pug

block styles
    link(rel="stylesheet" href="styles/solutions.min.css")
    script(src='scripts/libs.min.js')
    script(src='scripts/production/jquery.mCustomScrollbar.min.js')
    script(src='scripts/solutions/solutions-dropdown.js')

block content
    section.solutions-wrapper
        include ../components/solutions/navigation
        include ../components/solutions/items
        include ../components/solutions/dropdown
        include ../components/solutions/action-progress
        section.solutions-progress--action
            include ../components/solutions/solutions-title-with-bg
            include ../components/solutions/dropdown
            include ../components/solutions/action-progress
