@import "../../colors";
@import "../../sizes";
@import "../../templates";
@import "../../screens";

.image-slider {
  &-items {
    &.slick-slide {
      height: 296px;
    }
    img {
      width: 100%;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    width: 19px;
    height: 32px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    bottom:16px;
    padding: 0;
    border: none;
    outline: none;
    opacity: 0.6;
    z-index: 2;
    &:hover, &:focus {
      outline: none;
      opacity: 1;
    }
  }
  .slick-prev {
    background: url('../img/arrow-left.png') no-repeat center;
    right: 117px;
  }
  .slick-next {
    background: url('../img/arrow-right.png') no-repeat center;
    right: 56px;
  }
}

@include adapt_to('wide_screen') {
  .image-slider{
    &-items{
      &.slick-slide {
        height: 520px;
      }
    }
  }
}
@include adapt_to('phone') {
  .image-slider{
    &-items{
      &.slick-slide {
        height: 160px;
      }
    }
    .slick-next {
      right: 15px;
    }
    .slick-prev {
      right: 84px;
    }
  }
}