@import "../../sizes";
@import "../../colors";
@import "../../screens";

.navigation-participate {
  height: 285px;
  background: url("../img/participate-header.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 55px;

  .navigation-participate__title {
    color: $color_navigation_color;
    position: relative;
    font-size: 28px;
    line-height: normal;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .navigation-participate__breadcrumb {
    color: $color_navigation_color;
    font-size: 12px;
    margin: 0;

    .navigation-participate__link {
      color: $color_navigation_color;
    }
  }
}

@include adapt_to("wide_screen") {
  .navigation-participate {
    height: 520px;
    padding:45px 75px;
    .navigation-participate__title {
      font-size: 36px;
      line-height:48px;
      font-weight: 600;
    }
    .navigation-participate__breadcrumb {
      font-size: 14px;
    }
  }
}

@include adapt_to("tablet") {
  .navigation-participate {
    height: 185px;
    padding: $size_navigation_padding_adaptive;
    .navigation-participate__title {
      font-size: 24px;
    }
  }
}

@include adapt_to("large-phone") {
  .navigation-participate {
    height: 140px;
    padding: $size_navigation_padding_adaptive;
    .navigation-participate__title {
      font-size: 18px;
    }
  }
}