@import "../../colors";
@import "../../sizes";
@import "../../templates";
@import "../../screens";

.vacancy {
  background: $color_solution_section_item_background;
  display: flex;
  flex-direction: column;
  &--bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: table;
  }
  &__caption {
    position: relative;
    padding: 0 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color_footer_input_text_focus, 0.1);
      position: absolute;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 80px;
    }
    &__title {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
      color: $color_category-items_links_item_position;
      margin: 0;
      &__green-band {
        width: 160px;
        height: 4px;
        background: $color_products_item_color-hover;
        margin-right: 30px;
      }
    }
  }
  &__container {
    padding: 40px 55px;
  }
  &__description {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    color: $color_solutions-industries-title;
    width: 80%;
  }
  .personnel-department {
    height: 260px;
    border: 4px solid $color_solutions-industries-title-accent;
    padding: 0 35px;
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 50px;
    &__avatar {
      display: flex;
      align-items: center;
      margin-right: 70px;
      width: 272px;
      height: 360px;
      overflow: hidden;
      position: relative;
      &__img {
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    &__info {
      height: 100%;
      &--name {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: $color_solutions-industries-title;
        margin-top: 30px;
      }
      &--position {
        color: $color_solutions-industries-title;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        line-height: 20px;
        margin-bottom: 47px;
      }
      &--phone {
        display: flex;
        align-items: center;
        color: $color_solutions-industries-title;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        &__ico {
          width: 18px;
          height: 18px;
          display: flex;
          &--wrapper {
            width: 20px;
            margin-right: 15px;
          }
        }
      }
      &--email {
        @extend .personnel-department__info--phone;
        &__ico {
          width: 20px;
          height: 16px;
          display: flex;
          &--wrapper {
            width: 20px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@include adapt_to("wide_screen") {
  .vacancy {
    &__caption {
      padding: 0 160px;
      &-wrapper {
        margin-top: 60px;
        margin-bottom: 180px;
      }
      &__title {
        font-size: 48px;
        line-height: 60px;
        &__green-band {
          width: 160px;
          margin-right: 80px;
        }
      }
    }
    &__container {
      padding: 50px 160px;
      display: flex;
    }
    &__description {
      font-size: 16px;
      line-height: 24px;
      margin-right: 160px;
    }
    .vacancy__description--accent {
      font-weight: 700;
    }
    .personnel-department {
      height: 328px;
      padding: 0 80px;
      position: relative;
      width: 640px;
      display: table;
      margin-right: 160px;
      top: 205px;
      &__avatar {
        width: 304px;
        height: 480px;
        display: table;
        margin-right: 15px;
        top: -290px;
        position: absolute;
      }
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:320px;
        &--name {
          position: relative;
          left: 318px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 5px;
          width: 225px;
        }
        &--position {
          font-size: 14px;
          position: relative;
          left: 318px;
        }
        &--phone {
          font-size: 20px;
        }
      }
    }
  }
}

@include adapt_to("tablet") {
  .vacancy {
    &__caption {
      padding: 0 15px;
      &-wrapper {
        margin-top: 45px;
        margin-bottom: 70px;
      }
      &__title {
        font-size: 24px;
        line-height: 32px;

        &__green-band {
          width: 128px;
          height: 2px;
        }
      }
    }
    &__container {
      padding:40px 15px;
    }
    &__description {
      width: 100%;
    }
    .personnel-department{
      height: 248px;
      margin-top: 65px;
      margin-bottom: 20px;
      &__avatar {
        display: table;
        width: 208px;
        height: 308px;
        margin-right: 40px;
      }
      &__info {
        &--position {
          font-size: 13px;
        }
      }
    }
  }
}
@include adapt_to("large-phone") {
  .vacancy{
    &__caption{
      &-wrapper {
        margin-top: 15px;
        margin-bottom: 65px;
      }
      &__title {
        font-size: 16px;
        line-height: 24px;
        &__green-band {
          width: 48px;
          margin-right: 15px;
        }
      }
    }
    &__container {
      padding:15px 15px 0;
    }
    &__description {
      font-size: 13px;
      line-height: 16px;
    }
    .personnel-department {
      flex-direction: column;
      border-width: 2px;
      margin-top: 245px;
      padding:0 15px;
      margin-bottom: 15px;
      &__avatar {
        margin: -225px auto 0;
      }
      &__info {
        &--name {
          margin-top: 15px;
          line-height: 16px;
        }
        &--position {
          margin-bottom: 15px;
        }
        &--phone, &--email {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}