section.faq-answer.index__works
    ul.faq-answer__list.works__items#indexWorks
        li.faq-answer__list__item.first#first.works__item__ny.startNewYear(data-number="1")
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 1. Почему менеджер Прогресса не может сказать цену на ленту/плоский ремень только по длине и ширине?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent До того, как озвучить стоимость и выставить коммерческое предложение на ленты/плоский ремень, менеджеру необходимо выполнить правильный подбор и учесть ряд коммерческих параметров для расчета.
                        img.faq-answer__list__item__description__img(src='img/faq-item-1.jpg')
                        | Для этого ему требуется получить от Вас максимально развернутую информацию о:
                        br
                        | — компании, представителем которой Вы являетесь, в том числе и реквизиты Вашей компании (обязательно)*.
                        br
                        | — условиях эксплуатации ленты (какой продукт транспортируется, параметры конвейера и предполагаемая/имеющаяся нагрузка на ленту, особые условия процесса (температура, влажность и пр.)/ для плоского ремня: если ремень приводной - параметры привода, диаметры огибания; если ремень транспортерный - условия и продукт транспортировки, нагрузка в кг. При подборе плоского ремня менеджер (или наш инженер) обязательно выполняет расчет нагрузки!
                        br
                        | — наличии дополнительных элементов на ленте/ремне и их параметрах (перегородки, направляющие элементы, гофроборты, покрытия, перфорация и пр.)
                        br
                        | — варианте соединения ленты/ремня (открытый материал, подготовленное к соединению на предприятии, спаянное под прессом «в кольцо», соединение механическими замками с учетом выбора подходящего замка и пр.)
                        br
                        | — если подходящая Вам позиция является заказной, то стоимость необходимо будет запросить непосредственно у производителя и менеджер, отправив запрос, сможет ответить по цене только спустя оговоренное с Вами (стандартное время запросов к поставщику) время.
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-1.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Полная информация
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-2.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Подбор и расчет
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-3.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Коммерческое предложение
                    p.faq-answer__list__item__description Со всем ассортиментом поставляемых Прогрессом лент и ремней вы можете ознакомиться в разделе &#160;
                        a.faq-answer__list__item__description__section(href="#") Ленты
                        |&#160;и&#160;
                        a.faq-answer__list__item__description__section(href="#") Ремни
                        |. Однако, профессиональный подбор мы рекомендуем предоставить нашим специалистам.
                    .faq-answer__list__notation * В Прогрессе предусмотрены различные варианты ценообразования для партнеров в зависимости от уровня сотрудничества и сферы деятельности Вашей компании. Реквизиты компании необходимы, чтобы сохранить уже достигнутые договоренности и условия работы, избежать повторений компаний в нашей базе данных и запросов от конкурентов.
        li.faq-answer__list__item.second#second
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 2. Какие гарантийные обязательства предоставляет Прогресс на продукцию и услуги?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Стандартный гарантийный срок на продукцию Прогресса и услуги выездного сервиса (соединение конвейерных лент и плоских ремней на предприятии) — 12 месяцев с момента поставки товара Заказчику/исполнения услуги при соблюдении правильных условий эксплуатации.
                        br
                        br
                        | При нестандартных условиях работы и на некоторые категории товаров возможны отступления от обычных гарантийных сроков, которые оговариваются с Вами менеджером Прогресса (например, лента на ротоштамп, ремни на фальцевально - склеивающую машину, лента на масло-наливную машину и пр.).
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-4.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Гарантия 12 месяцев
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-5.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Спецификация для особых условий
                    p.faq-answer__list__item__description В любом случае сроки гарантии прописываются в Спецификации к действующему между Прогрессом и Вашей компанией договору, которая сопровождает каждый оплаченный счет.
        li.faq-answer__list__item.third#third
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 3. Что такое «правильные условия эксплуатации»?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Для разных категорий товаров правильные условия эксплуатации свои. Однако, для общего понимания, они должны соответствовать указанным производителем техническим характеристикам продукции или в паспорте качества, который прилагается с изделием, изготовленным на производстве Прогресса.
                        br
                        br
                        | Примером несоблюдения правильных условий эксплуатации будет, если рабочая температура ленты, указанная в каталоге производителя от +10°С до +80°С, а реальные температурные условия эксплуатации ленты не входят в этот диапазон. В этом случае товар автоматически снимается с гарантии.
                        br
                        br
                        | Получить детальную информацию по условиям эксплуатации можно у Вашего менеджера.
                        | Также для большей уверенности их можно зафиксировать в Спецификации к действующему между Прогрессом и Вашей компанией договору, которая сопровождает каждый оплаченный счет.
        li.faq-answer__list__item.fourth#fourth
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 4. Как осуществляется работа с претензиями?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Претензии по качеству и количеству поставленной продукции принимаются в письменном виде Вашим персональным менеджером в сроки, указанные в действующем договоре между Вашей компанией и Компанией Прогресс.
                        img.faq-answer__list__item__description__img(src='img/faq-item-2.jpg')
                        span.faq-answer__list__item__description__accent Обязательно необходимо указать номер счета или товарной накладной, чтобы менеджер смог максимально быстро установить в каком заказе произошла проблема.
                        br
                        br
                        | Все претензии обязательно фиксируются внутри компании и решаются Отделом контроля качества совместно с Вашим персональным менеджером, поэтому необходимо письменное заявление о наличии проблемы и сопутствующие подтверждающие материалы (фотографии, детальные описания, утвержденные эскизы или опросные листы, по которым выполнялся заказ и пр.)
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-6.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Претензия (по E-mail или обычной почте)
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-7.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title 3 рабочих дня ОТК
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-8.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Решение
                    p.faq-answer__list__item__description Стандартные сроки ответа по претензии — 3 рабочих дня с момента получения необходимой информации. В особых случаях (требуется больше времени для выяснения причин, требуется дополнительное время на ответ иностранного поставщика и пр.) они могут быть изменены по согласованию сторон.
                        br
                        br
                        span.faq-answer__list__item__description__accent  Поскольку команда Прогресса нацелена на длительное и взаимовыгодное сотрудничество, решение по каждой претензии индивидуально.
        li.faq-answer__list__item.fifth#fifth
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 5. Мы хотим стать представителем Прогресса. Как этого добиться?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Представитель Прогресса – это команда людей, готовых принять наши ценности и работать в соответствии с ними. Это «лицо» и «руки» нашей компании в регионах.
                        br
                        br
                        | У нас всего три основных требования:
                        | — мы поддерживаем идею уникальности рынка, и поэтому в одном городе/регионе не может быть несколько представителей.
                        | — у претендента уже должна быть сложившаяся положительная репутация, а значит и соответствующий уровень продаж, готовность инвестировать в производство, склад, сервис и обучение сотрудников.
                        | — и самое важное — это большое стремление к саморазвитию как у всей компании претендента, так и каждого отдельного звена.
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-1.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Запрос региональному менеджеру (звонок)
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-9.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Встреча
                        img(src="img/faq-ico-arrow.png").faq-answer__list__item__description__icons__item__arrow
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-8.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Решение
                    p.faq-answer__list__item__description Решение и условия открытия представительства принимаются на высшем уровне руководителями компаний на личной встрече, предварительно согласованной менеджером по развитию региональной сети — Бечь Викторией.
                        br
                        br
                        span.faq-answer__list__item__description__accent Для Представителя обязательно назначается менеджер-куратор и проводятся регулярные плановые тренинги по продукции, в том числе и зарубежными коллегами.

        li.faq-answer__list__item.six#six
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 6. Почему Вы не соединяете на предприятии ленты/плоские ремни, поставленные другими компаниями, либо иных производителей?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Потому что мы отвечаем за результат и дорожим своей репутацией.
                            br
                            br
                            | Основная причина — это гарантийные обязательства.
                        br
                        br
                        | Ленты и плоские ремни других компаний могут иметь минимальные, но критичные отличия в технологии соединения, либо в оборудовании для соединения. Также сами товары, произведенные другой компанией, могут обладать скрытыми дефектами.
                        br
                        br
                        | Два этих нюанса серьезно влияют на качество соединения, а потому наша компания, в свою очередь, не может гарантировать должного уровня услуги.
        li.faq-answer__list__item.seven#seven
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 7. Для чего заполнять опросный лист и/или высылать менеджеру чертеж на требуемую продукцию?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Опросный лист и/или чертеж заполняется Вами для Вашей уверенности в правильном выполнении заказа, а также как подтверждающий документ в случае наступления претензионной ситуации.
                        img.faq-answer__list__item__description__img(src='img/faq-item-7.jpg')
                        br
                        |На основе заполненного опросного листа выполняются профессиональные подборы продукции и инженерные расчеты. Чертеж (эскиз) прикладывается к производственному заказу, чтобы выполнить изделие по вашим размерам (ширина профилей, толкателей, толщина покрытий, высота перегородок, бортов, отступы по краям и пр).
        li.faq-answer__list__item.eight#eight
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 8. Как отказаться/подписаться на почтовую рассылку информации от Прогресса?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        | Отказаться от рассылки можно, перейдя по ссылке внизу каждого письма или сообщить своему менеджеру.
                        br
                        br
                        | Чтобы&#160;
                        a.faq-answer__list__item__description__section(href="#") подписаться&#160;
                        | на рассылку достаточно также сообщить об этом своему менеджеру.
        li.faq-answer__list__item.nine#nine
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 9. Как получить каталоги и образцы интересующей продукции?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Каталоги и образцы мы отправляем только нашим партнерам, поэтому запрос (каталоги по какой продукции и их количество) необходимо направить вашему менеджеру по электронной почте или сообщить ему по телефону.
                        img.faq-answer__list__item__description__img(src='img/faq-item-9.jpg')
        li.faq-answer__list__item.ten#ten
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 10. Как подобрать необходимые комплектующие?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Обращаем Ваше внимание, что все указанные на сайте материалы имеют ознакомительный характер. Профессиональный подбор комплектующих мы рекомендуем предоставить нашим специалистам.
                        img.faq-answer__list__item__description__img(src='img/faq-item-10.jpg')
                        | Для этого можно&#160;
                        a.faq-answer__list__item__description__section(href="#") оставить запрос&#160;
                        |в нижней части сайта,&#160;
                        a.faq-answer__list__item__description__section(href="#") спросить on-line&#160;
                        |в чате или связаться с нами по телефону.
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-10.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Задать вопрос
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-11.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title В чате on-line
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-12.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Позвонить
        li.faq-answer__list__item.eleven#eleven
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 11. Как вызвать вашего специалиста для подбора и замеров?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Для осуществления работ в удобное для Вас время и в кратчайшие сроки все выезды инженеров на подбор и замеры согласовываются заранее.
                        br
                        br
                        | Заявку можно оставить в нижней части сайта, спросить on-line в чате или связаться с нами по телефону.
                        img.faq-answer__list__item__description__img(src='img/faq-item-11.jpg')
        li.faq-answer__list__item.twelwe#twelwe
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 12. Если аварийная ситуация на производстве, как можно сократить сроки поставки?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent — Если позиция складская и не требует дополнительной производственной обработки&#160;
                        | — возможна срочная отгрузка в этот день.
                        br
                        span.faq-answer__list__item__description__accent — Если позиция складская, но требует производственной обработки&#160;
                        | (сборки, резки, соединения, нанесение бортов/перегородок/профилей и пр.) — возможно срочное производство за 10% от суммы заказа — в таком случае изделие производится во внеурочное время, чтобы выполнить план на текущий день.
                        br
                        span.faq-answer__list__item__description__accent — Усли позиция нескладская&#160;
                        | — возможна срочная доставка от производителя — условия и возможность такой доставки уточняются в каждом конкретном случае.
                    .faq-answer__list__item__description__icons
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-13.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Срочная отгрузка со склада
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-14.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Срочное производство
                        .faq-answer__list__item__description__icons__item
                            img(src="img/faq-ico-15.png").faq-answer__list__item__description__icons__item__ico
                            .faq-answer__list__item__description__icons__item__ico--title Срочная доставка от производителя
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Доставка товара на предприятие возможна транспортной компанией, курьером, самолётом, поездом, нашим автотранспортом в другой город. Однако, условия и реальность выполнения согласовывается индивидуально.
                        br
                        br
                        | Узнать есть ли товар в наличии на складе Вы можете у менеджера отдела продаж, оставив&#160;
                        a.faq-answer__list__item__description__section(href="#") запрос&#160;
                        | в нижней части сайта,&#160;
                        a.faq-answer__list__item__description__section(href="#") спросив on-line&#160;
                        | в чате или&#160;
                        a.faq-answer__list__item__description__section(href="#") связавшись&#160;
                        | с нами по телефону.
        li.faq-answer__list__item.thirteen#thirteen
            .faq-answer__list__item__content
                .faq-answer__list__item__caption
                    .faq-answer__list__item__caption__title__green-band
                    h2.faq-answer__list__item__caption__title 13. Какие условия оплаты вы предоставляете?
                .faq-answer__list__item__description__body
                    p.faq-answer__list__item__description
                        span.faq-answer__list__item__description__accent Условия оплаты обсуждаются индивидуально в зависимости от уровня отношений с партнером, времени работы и специфики заказа.
                        br
                        br
                        | Однако, стоит отметить что Компания Прогресс имеет большой опыт и хорошую
                        | репутацию — мы готовы предложить различные варианты по&#160;
                        span.faq-answer__list__item__description__accent рассрочке и постоплате.
