section.faq-questions
    div.navigation-inner__title
        div.navigation-inner__title-wrapper
            img.navigation-inner__title-icon(src="img/icon_list_grey.svg")
            span.navigation-inner__title-text Список вопросов
    .faq-questions__container
        ul.faq-questions__list
            li.faq-questions__list__item
                .faq-questions__list__item__title 1. Почему менеджер Прогресса не может сказать цену на ленту/плоский ремень только по длине и ширине?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 2. Какие гарантийные обязательства предоставляет Прогресс на продукцию и услуги?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 3. Что такое «правильные условия эксплуатации»?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 4. Как осуществляется работа с претензиями?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 5. Мы хотим стать представителем Прогресса. Как этого добиться?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 6. Почему Вы не соединяете на предприятии ленты/плоские ремни, поставленные другими компаниями, либо иных производителей?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 7. Для чего заполнять опросный лист и/или высылать менеджеру чертеж на требуемую продукцию?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 8. Как отказаться/подписаться на почтовую рассылку информации от Прогресса?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 9. Как получить каталоги и образцы интересующей продукции?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 10. Как подобрать необходимые комплектующие?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 11. Как вызвать вашего специалиста для подбора и замеров?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 12. Если аварийная ситуация на производстве, как можно сократить сроки поставки?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            li.faq-questions__list__item
                .faq-questions__list__item__title 13. Какие условия оплаты вы предоставляете?
                .faq-questions__list__links__item
                    .faq-items-description__active
                        .faq-items-description__active__splash
                        .faq-items-description__active__cover
                    .faq-items-description__inactive
            span.navigation-inner__collapse Свернуть