section.jumbotron-section
    div.jumbotron-section__content
        div.jumbotron-section__slider
            div.jumbotron-section__block(style="background-image: url('img/jumbotron__img_1.jpg')")
                h2.jumbotron-section__caption Сложные задачи - решаем сразу, невозможные - чуть позже
                p.jumbotron-section__text
                    | Наша инженерная поддержка и глубокие знания своего продукта позволяют Вам
                    | не только заменить запасную часть, но и усовершенствовать предприятие
                    | широким спектром технических решений
            div.jumbotron-section__block(style="background-image: url('img/jumbotron__img_1.jpg')")
                h2.jumbotron-section__caption Простые задачи щелкаем как камешки, пустяковые - как палочки
                p.jumbotron-section__text
                    | Наша инженерная поддержка и глубокие знания своего продукта позволяют Вам
                    | не только заменить запасную часть, но и усовершенствовать предприятие
                    | широким спектром технических решений
            div.jumbotron-section__block(style="background-image: url('img/jumbotron__img_1.jpg')")
                h2.jumbotron-section__caption Интересные задачи решаем в уме, рутинные - в голове
                p.jumbotron-section__text
                    | Наша инженерная поддержка и глубокие знания своего продукта позволяют Вам
                    | не только заменить запасную часть, но и усовершенствовать предприятие
                    | широким спектром технических решений
