section.products-section
    ul.products-section__list
        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Ленты
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_lenty.svg")
                h3.products-section__common-name-product
                    a(href="#") Ленты

        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Ремни
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_remni.svg")
                h3.products-section__common-name-product
                    a(href="#") Ремни

        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Цепи
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_cepi.svg")
                h3.products-section__common-name-product
                    a(href="#") Цепи

        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Приводы
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_privody.svg")
                h3.products-section__common-name-product
                    a(href="#") Приводы

        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Сетки
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_setki.svg")
                h3.products-section__common-name-product
                    a(href="#") Сетки

        li.products-section__item
            div.products-section__description-popup
                h4.products-section__popup-name-product
                    a(href="#") Компоненты
                ul.products-section__popup-list
                    li.products-section__popup-item
                        a(href="#") Конвейерные ленты Nitta
                    li.products-section__popup-item
                        a(href="#") Ленты для птицефабрик
                    li.products-section__popup-item
                        a(href="#") Модульные ленты NGB
                    li.products-section__popup-item
                        a(href="#") Модульные ленты SystemPlast
                    li.products-section__popup-item
                        a(href="#") Резинотканевые ленты
                    li.products-section__popup-item
                        a(href="#") Тефлоновые ленты
                    li.products-section__popup-item
                        a(href="#") Оборудование для соединения лент
                    li.products-section__popup-item
                        a(href="#") Замки для лент и плоских ремней AnkerFlexco
                div.products-section__toggle-btn
                    span.products-section__toggle-text
                        span.products-section__toggle-text_text Показать больше
                    span.products-section__toggle-text_less
                        span.products-section__toggle-text_text Показать меньше
            div.products-section__product-block
                img.products-section__img(src="img/products_componenti.svg")
                h3.products-section__common-name-product
                    a(href="#") Компоненты
