section.solutions-section
    ul.solutions-section__list
        li.solutions-section__item.solutions-section__item_without-image
            h3.solutions-section__title Решения для отраслей
            p.solutions-section-description
                |Более 40 готовых решений для всех
                br
                |типов предприятий
            a.solutions-section-button(href="#") Все решения
        li.solutions-section__item
            div.solutions-section__blue-border
            section.solutions-section__img-section(style="background-image: url('img/solutions-item-1.png')")
            section.solutions-section__content-section
                h3.solutions-section__title Плоские ремни на &#171;фальцесклейку&#187; TCY
                p.solutions-section-description
                    |Проскальзывают ремни на &#171;фальцесклейке&#187;?
                    |Разворачивает картонные заготовки? Брак по непонятным причинам на исправной линии?
                    |Решение есть!
                a.solutions-section-button(href="#") Смотреть решение
        li.solutions-section__item
            div.solutions-section__blue-border
            section.solutions-section__content-section
                h3.solutions-section__title Ремни на экитеровщик своего производства
                p.solutions-section-description
                    |SystemPlast представляет новое поколение материала
                    |пластинчатых цепей и модульных лент - NG evo и запантентованный материал Nolu-s для
                    |направляющих и трэков.
                a.solutions-section-button(href="#") Смотреть решение
            section.solutions-section__img-section(style="background-image: url('img/solutions-item-2.png')")
        li.solutions-section__item
            div.solutions-section__blue-border
            section.solutions-section__img-section(style="background-image: url('img/solutions-item-3.png')")
            section.solutions-section__content-section
                h3.solutions-section__title Идеальная лента Nitta на
                    br
                    |ротор-штамп
                p.solutions-section-description
                    |Уже более 5 лет 2LRCFR R для российских предприятий
                    |является отличной альтернативой цельнотканным лентам.
                a.solutions-section-button(href="#") Смотреть решение
