// -------- common ----------

// header
$color_header_background: rgba(255, 255, 255, .8);
$color_header_logo_background: #fff;
$color_header_choice_town_item_color_hover: #968b84;

// navigation menu
$color_navigation_menu_color: #e8e8eb;
$color_navigation_menu_text_hover: #f09d06;

// navigation inner
$color_background_nav-inner: #e8e8eb;

// navigation
$color_navigation_color: #fff;

// green_band
$color_green_band_color: #749417;
// --------------------------

// ------- index ---------

// jumbotron_section
$color_jumbotron_section_text: #fffefe;

// products_section
$color_products_background: #E5E5E5;
$color_products_item_background: #FFFFFF;
$color_products_item_color: #999999;
$color_products_popup_border: #7a972c;

//solutions_section
$color_solutions_section_blue_border: #2D607C;
$color_solution_section_button_color: #2D607C;
$color_solution_section_button_color_hover: #EAEDEF;
$color_solution_section_button_background: #EAEFF2;
$color_solution_section_button_background_hover: #2D607C;
$color_solution_section_item_background: #F7F7F7;
$color_solution_section_item_background_orange: #FDB91A;
$color_solution_section_button_background_white: #fff;

// footer
$color_footer_background: #968B84;
$color_footer_item_caption: #B5ADA9;
$color_footer_input_background: #ABA29D;
$color_footer_input_background_hover: #c0b9b5;
$color_footer_input_text: #fff;
$color_footer_input_background_focus: #fff;
$color_footer_input_text_focus: #000;
$color_footer_input_placeholder_focus: #999999;
$color_footer_item_text: #d8d3d1;
$color_footer_item_link_hover: #E5AF37;
// --------------------------

// -------- about -----------

// who-we-are
$color_who_we_are_background: #C0B9B5;
$color_who_we_are_caption_color: #fff;
$color_who_we_are_number_color: #CEC8C5;
$color_who_we_are_accent_color: #FDBA1A;
$color_who_we_are_gallery_popup_background: #FDBA1A;

// progress-in-numbers
$color_progress_in_numbers_background: #E9EFF2;

// historical-note
$color_historical_note_background: #F2F2F2;
// --------------------------
//
// category
$color_category-items-button-color: #ffffff;
$color_category-items-button_hover: #2d607c;
$color_category-items__item__dark-bg: #2d607c;
$color_category-items__item__dark-bg__button-hover: #eaeff2;
$color_category-items__links__bg: #d1d1d7;
$color_category-items__links__circle-bg: #f09d06;
$color_category-items_links_item_position: #ffffff;
// --------------------------

// solutions
$color_solution-wrapper__bg: #e8e8eb;
$color_solutions-progress-link: #d5dfe5;
$color_solutions-industries-title: #232323;
$color_solutions-industries-title-accent: #fdba1a;

//production
$color_products_item_color-hover: #7a972c;

//slider
$color_slider_run: #ffffff;
$color_slider_bg: rgba(#000, 0.4);
