section.jumbotron(style="background-image: url('img/news_jumbotron.png')")
  div.jumbotron__nav
    span.jumbotron__nav-title Новости
    ul.jumbotron__nav-breadcrumbs
      li.jumbotron__nav-item
        a.jumbotron__nav-item-link(href="#") Главная
        span.jumbotron__nav-item-pointer >
      li.jumbotron__nav-item
        a.jumbotron__nav-item-link Новости
        span.jumbotron__nav-item-pointer >
