section.last-news
  h2.last-news__title Последние новости
  div.last-news__slider
    div.last-news__slide
      div.last-news__slide-image(style="background-image: url('img/last-news__slider-image.png')")
      div.last-news__slide-description-block
        span.last-news__slide-date 3 февраля 2017
        span.last-news__slide-title Gates снова повышает цены. Альтернативы
      div.last-news__slide-textblock
        span.last-news__slide-text
          | Уважаемые партнеры!
          br
          | У компании Прогресс для Вас 3 новости:
          br
          | 1) С 10 марта повышаются цены на некоторые группы клиновых, узкоклиновых и зубчатых ремней Gates.
          br
          | 2) У Вас есть ещё целая неделя, чтобы сделать заказ до повышения цен.
          br
          | 3) Цены на ремни Megadyne, достойную и выгодную замену Gates, остаются неизменными.
          br
          | Сравните сами!
          br
          | Зубчатые ремни:
          br
          | Megadyne RPP (шаг 8М) на 42% ВЫГОДНЕЕ, чем Gates HTD (шаг 8М)
          br
          | Узкоклиновые ремни (Х-профиль):
          br
          | Megadyne XPB на 34% ВЫГОДНЕЕ, чем Gates SPB MN
          br
          | Звоните +7 (812) 622-08-88 и заказывайте ремни с экономической и производственной выгодой!
        a.last-news__slide-button(href="#") Узнать цену
    div.last-news__slide
      div.last-news__slide-image(style="background-image: url('img/last-news__slider-image.png')")
      div.last-news__slide-description-block
        span.last-news__slide-date 3 февраля 2017
        span.last-news__slide-title Gates снова повышает цены. Альтернативы
      div.last-news__slide-textblock
        span.last-news__slide-text
          | Уважаемые партнеры!
          br
          | У компании Прогресс для Вас 3 новости:
          br
          | 1) С 10 марта повышаются цены на некоторые группы клиновых, узкоклиновых и зубчатых ремней Gates.
          br
          | 2) У Вас есть ещё целая неделя, чтобы сделать заказ до повышения цен.
          br
          | 3) Цены на ремни Megadyne, достойную и выгодную замену Gates, остаются неизменными.
          br
          | Сравните сами!
          br
          | Зубчатые ремни:
          br
          | Megadyne RPP (шаг 8М) на 42% ВЫГОДНЕЕ, чем Gates HTD (шаг 8М)
          br
          | Узкоклиновые ремни (Х-профиль):
          br
          | Megadyne XPB на 34% ВЫГОДНЕЕ, чем Gates SPB MN
          br
          | Звоните +7 (812) 622-08-88 и заказывайте ремни с экономической и производственной выгодой!
        a.last-news__slide-button(href="#") Узнать цену
    div.last-news__slide
      div.last-news__slide-image(style="background-image: url('img/last-news__slider-image.png')")
      div.last-news__slide-description-block
        span.last-news__slide-date 3 февраля 2017
        span.last-news__slide-title Gates снова повышает цены. Альтернативы
      div.last-news__slide-textblock
        span.last-news__slide-text
          | Уважаемые партнеры!
          br
          | У компании Прогресс для Вас 3 новости:
          br
          | 1) С 10 марта повышаются цены на некоторые группы клиновых, узкоклиновых и зубчатых ремней Gates.
          br
          | 2) У Вас есть ещё целая неделя, чтобы сделать заказ до повышения цен.
          br
          | 3) Цены на ремни Megadyne, достойную и выгодную замену Gates, остаются неизменными.
          br
          | Сравните сами!
          br
          | Зубчатые ремни:
          br
          | Megadyne RPP (шаг 8М) на 42% ВЫГОДНЕЕ, чем Gates HTD (шаг 8М)
          br
          | Узкоклиновые ремни (Х-профиль):
          br
          | Megadyne XPB на 34% ВЫГОДНЕЕ, чем Gates SPB MN
          br
          | Звоните +7 (812) 622-08-88 и заказывайте ремни с экономической и производственной выгодой!
        a.last-news__slide-button(href="#") Узнать цену
