section.list-news
  div.list-news__item
    div.list-news__item-image(style="background-image: url('img/list-news__item-image_1.png')")
    div.list-news__item-description
      span.list-news__item-date 28 марта 2017
      h3.list-news__item-title
        a(href="#") Новая маркировка плоских ремней
      a.list-news__item-button(href="#") Подробнее
  div.list-news__item
    div.list-news__item-image(style="background-image: url('img/list-news__item-image_2.png')")
    div.list-news__item-description
      span.list-news__item-date 21 марта 2017
      h3.list-news__item-title
        a(href="#") Новинка! ПУ-ленты с запаянным краем
      a.list-news__item-button(href="#") Подробнее
  div.list-news__item
    div.list-news__item-image(style="background-image: url('img/list-news__item-image_3.png')")
    div.list-news__item-description
      span.list-news__item-date 12 марта 2017
      h3.list-news__item-title
        a(href="#") Ремень Quad Power 4 по цене Quad Power 3
      a.list-news__item-button(href="#") Подробнее
  div.list-news__item
    div.list-news__item-image(style="background-image: url('img/list-news__item-image_4.png')")
    div.list-news__item-description
      span.list-news__item-date 1 марта 2017
      h3.list-news__item-title
        a(href="#") Спешите купить ленты на пометоудаления по старым ценам!
      a.list-news__item-button(href="#") Подробнее
  a.list-news__load-more-btn(href="#") Загрузить ещё
