section.navigation-inner
  div.navigation-inner__title
    div.navigation-inner__title-wrapper
      img.navigation-inner__title-icon(src="img/icon_list_grey.svg")
      span.navigation-inner__title-text Разделы
  ul.navigation-inner__list
    li.navigation-inner__item.navigation-inner__item_active
      a(href="#")
        span.navigation-inner__text Все новости
    li.navigation-inner__item
      a(href="#")
        span.navigation-inner__text Новости компании
    li.navigation-inner__item
      a(href="#")
        span.navigation-inner__text Продукция
    li.navigation-inner__item
      a(href="#")
        span.navigation-inner__text Скидки
  span.navigation-inner__collapse Свернуть
