section.subscription
  h3.subscription__title Подпишитесь на рассылку и будьте на шаг впереди
  form.subscription__form(action="" method="get")
    input.subscription__name(type="text" placeholder="Имя для рассылки")
    input.subscription__email(type="email" placeholder="E-mail для рассылки")
    textarea.subscription__company(placeholder="Название компании")
    button.subscription__button(type="submit") Подписаться на рассылку
