@import "../../colors";
@import "../../sizes";
@import "../../templates";
@import "../../screens";

.category-items__links {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: flex;
  z-index: 2;
  position: absolute;
  bottom: 20px;
  width: 100%;
  &.isFixed {
    position: fixed;
    bottom: 40px;
    left:96px;
    right: 0;
  }
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: $color_category-items__links__bg;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 0;
  }
  .category-items__links__nodes {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    &:before {
      content: '';
      background: $color_category-items__links__circle-bg;
      width: calc(100% - 15px);
      position: absolute;
      height: 3px;
      top: 11px;
      left: 5px;
    }
  }
  &__item {
    width: 32px;
    height: 24px;
    float: left;
    margin-right: 10px;
    position: relative;
    .category-items-description__active__splash {
      box-shadow: 0 0 8 2px rgba($color_category-items__links__circle-bg, 0.53);
      transform: translateZ(0px) scale(1);
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      pointer-events: none;
      opacity: 1;
    }
    &.active {
      .category-items-description__active {
        transform: scale(1);
        opacity: 1;
      }
      .category-items-description__active__splash {
        transition: transform 1200ms, opacity 1500ms;
        transform: translateZ(0px) scale(2.5);
        opacity: 0 !important;
      }
      .category-items-description__inactive {
        transition: opacity 200ms;
        opacity: 0;
      }
    }
    .category-items-description__active {
      transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
      transform: scale(0.7);
      position: absolute;
      opacity: 0;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: $color_category-items__links__circle-bg;
      *zoom: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -3px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
      .category-items-description__active__cover {
        transform: translateZ(0px);
        width: 24px;
        height: 24px;
        background: $color_category-items__links__circle-bg;
        border: 4px solid $color_category-items__item__dark-bg;
        border-radius: 100%;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .category-items-description__inactive {
      transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
      width: 24px;
      height: 24px;
      display: block;
      background: $color_category-items__item__dark-bg;
      position: absolute;
      border-radius: 100%;
      border: 4px solid $color_category-items__links__circle-bg;
      top: 0;
      left: 3px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
    }
    &:hover {
      cursor: pointer;
      .category-items-description__active {
        transition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
        transform: scale(0.84);
      }
      .category-items-description__inactive {
        transition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
        transform: scale(0.85);
      }
    }
    .category-items__links__item--circle {
      width: 24px;
      height: 24px;
      border: 4px solid $color_category-items__links__circle-bg;
      border-radius: 50%;
      background: $color_category-items__item__dark-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
    &__position {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $color_category-items_links_item_position;
      position: absolute;
      top: -30px;
      width: 100%;
      text-align: center;
      text-shadow: 0 0 30px rgba(0,0,0,.6);
    }
  }
}

@include adapt_to('wide_screen') {
  .category-items__links {
    padding: 0 160px;
    &__item {
      margin-right: 40px;
    }
    &.isFixed {
      left: 140px;
    }
  }
}

@include adapt_to('tablet') {
  .category-items__links {
    display: none;
  }
}