section.contacts
    .contacts__caption
        .contacts__caption-wrapper
            .contacts__caption__title__green-band
            h2.contacts__caption__title Контакты
    .contacts__container.head-office
        .contacts-office__info
            h3.contacts-office__info__title Головной офис и производство
            .contacts-office__info__wrapper.mCustomScrollbar
                p.contacts-office__info__description Компания Прогресс осуществляет поставки импортных комплектующих на территории РФ, Республики Беларусь, Республики Казахстан и Армении.
                ul.contacts-office__info__list
                    li.contacts-office__info__list__items
                        span.contacts-office__info__list__items__item ООО «Компания Прогресс»
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_location.png").ic_location
                        span.contacts-office__info__list__items__item Адрес: РФ, 192019, г. Санкт-Петербург, ул. Мельничная, д. 18, лит. А. БЦ "Каскад"
                            span.contacts-office__info__list__items__accent заезд с улицы Профессора Качалова д.11В
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_call.png").ic_call
                        span.contacts-office__info__list__items__item Тел./факс: 8 (812) 622-08-88
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_email.png").ic_email
                        span.contacts-office__info__list__items__item E-mail: info@ttcprogress.ru
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_query_builder.png").ic_builder
                        span.contacts-office__info__list__items__item  График работы офиса: <br>
                            | Понедельник — пятница, 9:00 — 18:00<br>
                            | График работы склада:<br>
                            | Понедельник — пятница, 9:00 — 17:30<br>
                            | Обед — 12:30 — 13:30<br>
                            span.contacts-office__info__list__items__accent время московское
            .contacts-office__info__social
                h5.contacts-office__info__social__title Мы в социальных сетях:
                ul.contacts-office__info__social__list
                    li.contacts-office__info__social__list__items
                        a(href="#").contacts-office__info__social__list__items__link
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.156" height="26.375" viewBox="0 0 13.156 26.375" fill="#bbbbbb"><path class="cls-1" id="Facebook" d="M73.707,801.428h2.356v14.334h5.23V801.428h3.7l1-4.629H81.075s-0.383-1.924.346-2.644a2.74,2.74,0,0,1,1.913-.651,4.945,4.945,0,0,1,2.47,1l1.059-4.077c-1.63-.467-2.671-1.043-4.371-1.043a7.426,7.426,0,0,0-3.7.809,4.472,4.472,0,0,0-1.981,2.351,8.256,8.256,0,0,0-.606,3.644V796.8H73.779Z" transform="translate(-73.719 -789.375)"></path></svg>
                    li.contacts-office__info__social__list__items
                        a(href="#").contacts-office__info__social__list__items__link
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.063" height="23.719" viewBox="0 0 19.063 23.719" fill="#bbbbbb"><path class="cls-1" id="В" d="M88,868.511a6.505,6.505,0,0,0-3.538-1.886V866.5a5.129,5.129,0,0,0,2.409-1.989,5.573,5.573,0,0,0,.872-3.088,5.388,5.388,0,0,0-.632-2.643,4.576,4.576,0,0,0-1.913-1.83,7.672,7.672,0,0,0-2.537-.836,29.662,29.662,0,0,0-3.978-.2h-8.42v23.7H79.8a15.653,15.653,0,0,0,4.09-.447,8.42,8.42,0,0,0,2.953-1.5,6.347,6.347,0,0,0,1.809-2.213,6.817,6.817,0,0,0,.672-3.1A5.413,5.413,0,0,0,88,868.511Zm-6.611-4.528a1.923,1.923,0,0,1-.993.923,3.456,3.456,0,0,1-1.272.334q-0.617.033-2.153,0.032H76.218v-5.014h0.416q1.6,0,2.409.024a3.815,3.815,0,0,1,1.4.279,1.78,1.78,0,0,1,.921.875,2.67,2.67,0,0,1,.3,1.178A3.232,3.232,0,0,1,81.388,863.983Zm1.4,9.8a2.378,2.378,0,0,1-1.193,1.026,5.1,5.1,0,0,1-1.825.43q-0.9.032-3.233,0.031h-0.32v-5.937h1.1q1.6,0,2.553.024a4.677,4.677,0,0,1,1.5.231,2.722,2.722,0,0,1,1.345.938,2.894,2.894,0,0,1,.448,1.72A3.115,3.115,0,0,1,82.789,873.781Z" transform="translate(-70.25 -855.906)"></path></svg>
                    li.contacts-office__info__social__list__items
                        a(href="#").contacts-office__info__social__list__items__link
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="24px" height="24px">
                            <path d="M373.659,0H138.341C62.06,0,0,62.06,0,138.341v235.318C0,449.94,62.06,512,138.341,512h235.318    C449.94,512,512,449.94,512,373.659V138.341C512,62.06,449.94,0,373.659,0z M470.636,373.659    c0,53.473-43.503,96.977-96.977,96.977H138.341c-53.473,0-96.977-43.503-96.977-96.977V138.341    c0-53.473,43.503-96.977,96.977-96.977h235.318c53.473,0,96.977,43.503,96.977,96.977V373.659z" fill="#bbbbbb"/>
                            <path d="M370.586,238.141c-3.64-24.547-14.839-46.795-32.386-64.342c-17.547-17.546-39.795-28.746-64.341-32.385    c-11.176-1.657-22.507-1.657-33.682,0c-30.336,4.499-57.103,20.541-75.372,45.172c-18.269,24.631-25.854,54.903-21.355,85.237    c4.499,30.335,20.541,57.102,45.172,75.372c19.996,14.831,43.706,22.619,68.153,22.619c5.667,0,11.375-0.418,17.083-1.265    c30.336-4.499,57.103-20.541,75.372-45.172C367.5,298.747,375.085,268.476,370.586,238.141z M267.791,327.632    c-19.405,2.882-38.77-1.973-54.527-13.66c-15.757-11.687-26.019-28.811-28.896-48.216c-2.878-19.405,1.973-38.77,13.66-54.527    c11.688-15.757,28.811-26.019,48.217-28.897c3.574-0.53,7.173-0.795,10.772-0.795s7.199,0.265,10.773,0.796    c32.231,4.779,57.098,29.645,61.878,61.877C335.608,284.268,307.851,321.692,267.791,327.632z" fill="#bbbbbb"/>
                            <path d="M400.049,111.951c-3.852-3.851-9.183-6.058-14.625-6.058c-5.442,0-10.773,2.206-14.625,6.058    c-3.851,3.852-6.058,9.174-6.058,14.625c0,5.451,2.207,10.773,6.058,14.625c3.852,3.851,9.183,6.058,14.625,6.058    c5.442,0,10.773-2.206,14.625-6.058c3.851-3.852,6.058-9.183,6.058-14.625C406.107,121.133,403.9,115.802,400.049,111.951z" fill="#bbbbbb"/>
                            </svg>
        .contacts-office__map
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.3167007862785!2d30.385469816047507!3d59.91029117134719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631cd7fa18131%3A0x8387dc7ca408a5d7!2z0JrQsNGB0LrQsNC0!5e0!3m2!1sru!2sru!4v1502701040861" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            .contacts-office__map__look-on-map
                a(href="#").contacts-office__map__look-on-map__link Посмотреть на карте


    .contacts__container.head-office__secondary
        .contacts-office__info
            h3.contacts-office__info__title Офис и производство в г. Краснодаре
            .contacts-office__info__wrapper.mCustomScrollbar
                ul.contacts-office__info__list
                    li.contacts-office__info__list__items
                        span.contacts-office__info__list__items__item ООО «Прогресс-Юг»
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_location.png").ic_location
                        span.contacts-office__info__list__items__item 350088, Краснодарский край, г. Краснодар,
                            | ул. Сормовская, д.185, офис 21
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_call.png").ic_call
                        span.contacts-office__info__list__items__item Тел./факс: 8 (861) 200-13-83
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_email.png").ic_email
                        span.contacts-office__info__list__items__item E-mail: ug@ttcprogress.ru
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_query_builder.png").ic_builder
                        span.contacts-office__info__list__items__item График работы офиса и склада:<br>
                            | Понедельник — пятница, 8:00 — 17:00<br>
                            | Обед — 12:30 — 13:30<br>
                            span.contacts-office__info__list__items__accent время московское
        .contacts-office__map
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.3299546418352!2d39.102199315580094!3d45.03852576976649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f05ae4fdacd6c1%3A0x86d635c191ba4fb5!2z0YPQuy4g0KHQvtGA0LzQvtCy0YHQutCw0Y8sIDE4NSwg0JrRgNCw0YHQvdC-0LTQsNGALCDQmtGA0LDRgdC90L7QtNCw0YDRgdC60LjQuSDQutGA0LDQuSwgMzUwMDg4!5e0!3m2!1sru!2sru!4v1502701487715" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            .contacts-office__map__look-on-map
                a(href="#").contacts-office__map__look-on-map__link Посмотреть на карте



    .contacts__container.region-office
        .contacts-office__info
            h3.contacts-office__info__title Прогресс в регионах
            .contacts-office__info__wrapper.mCustomScrollbar
                ul.contacts-office__info__list
                    li.contacts-office__info__list__items
                        span.contacts-office__info__list__items__item ООО Компания “БТК”
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_location.png").ic_location
                        span.contacts-office__info__list__items__item Адрес: РФ, 420073, г. Казань, ул. Аделя Кутуя, д. 86
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_call.png").ic_call
                        span.contacts-office__info__list__items__item Тел./факс: 8 (843) 212-28-28
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_email.png").ic_email
                        span.contacts-office__info__list__items__item E-mail: kazan@btk-russia.ru
                    li.contacts-office__info__list__items
                        .contacts-office__info__list__items--ico
                            img(src="img/ic_query_builder.png").ic_builder
                        span.contacts-office__info__list__items__item График работы офиса и склада:<br>
                            | Понедельник — пятница, 9:00 — 17:30<br>
                            | Без перерывов на обед<br>
                            span.contacts-office__info__list__items__accent время московское
        .contacts-office__map.region-office__map
            img(src="img/map-circle.png").region-office__map__circle
            img(src="img/region-office-map.png").region-office__map__img
