section.navigation-participate
    h1.navigation-participate__title Участвовать
    p.navigation-participate__breadcrumb
        a.navigation-participate__link(href="#") Главная
        |&#160;> Участвовать