section.vacancy
    .vacancy--bg(style="background-image: url('img/vacancy-bg.jpg')")
        .vacancy__caption
            .vacancy__caption-wrapper
                .vacancy__caption__title__green-band
                h2.vacancy__caption__title Вакансии
    .vacancy__container
        p.vacancy__description Компания Прогресс с момента ее образования несла в себе идею постоянного движения вперед и развития. <br><br>
            | За 18 лет работы мы установили прочные деловые отношения с такими крупными производителями как: Coca-Cоla, ПК Балтика, Efes, Heineken, Вимм-Билль-Данн, Сан ИнБев, Компания Роквул, Газпром, Роснефть, Икея, Фольгсваген, Роскар и многими другими. <br><br>
            | Постоянное развитие и открытие новых направлений позволяет нам открывать новые рабочие места и давать возможность молодым специалистам получить опыт работы в крупной и стабильной компании. <br><br>
            | В нашей компании работают люди харизматичные и зрелые (не путать с возрастом), с нестандартным мышлением, получающие драйв от работы в режиме многозадачности , поэтому лодырям, убийцам времени и остальным прожигателям жизни точно не к нам! <br> <br>
            span.vacancy__description--accent Всем остальным — «ДОБРО ПОЖАЛОВАТЬ!»
        .personnel-department
            .personnel-department__avatar
                img(src="img/personnel-department-avatar.png").personnel-department__avatar__img
            .personnel-department__info
                .personnel-department__info--wrapper
                    .personnel-department__info--name Петрин Мария
                    .personnel-department__info--position Отдел персонала
                .personnel-department__info--wrapper
                    .personnel-department__info--phone
                        .personnel-department__info--phone__ico--wrapper
                            img(src="img/ic_call.png").personnel-department__info--phone__ico
                        |Тел.: +7 (812) 622-08-88 (доб.129)
                    .personnel-department__info--email
                        .personnel-department__info--email__ico--wrapper
                            img(src="img/ic_email.png").personnel-department__info--email__ico
                        |E-mail: kadri@ttcprogress.ru
