section.product-catalog
    .content
        .product-catalog--wrapper
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/tapes.svg')
                    a(href='#').product-catalog__list__link__title Ленты
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Конвейерные ленты Nitta
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Ленты для птицефабрик
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Модульные ленты NGB
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Модульные ленты SystemPLast
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Резинотканевые ленты
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Тефлоновые ленты
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Оборудование для соединения лент Nitta
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Замки для лент и плоских ремней AnkerFlexco
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/belts.svg')
                    a(href='#').product-catalog__list__link__title Ремни
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Плоские ремни Nitta
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Зубчатые ремни ПУ Elatech
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Клиновые и зубчатые ремни Gates
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Клиновые и зубчатые ремни Megadyne
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Поликлиновые ремни Hatchinson
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Ремни с покрытиями
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Бесшовные ремни AFH
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Оборудование для соединения плоских ремней
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/chains.svg')
                    a(href='#').product-catalog__list__link__title Цепи
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Роликовые цепи Wippermann
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Пластинчатые цепи SystemPlast
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Тяговые цепи ZMC
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Специальные цепи по чертежу
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/drives.svg')
                    a(href='#').product-catalog__list__link__title Приводы
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Асинхронные трехфазные двигатели Motive
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Червячные редукторы Motive
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Соостно-цилиндрические редукторы Motive
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Червячные редукторы Motive
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/grids.svg')
                    a(href='#').product-catalog__list__link__title Сетки
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Глазировочные сетки
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Транспортерные сетки
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Тефлоновые сетки
            .product-catalog__list
                .product-catalog__list__hover-border
                .product-catalog__list__img__wrapper
                    a(href='#').product-catalog__list__img
                        img.product-catalog__list__img__img(src='img/components.svg')
                    a(href='#').product-catalog__list__link__title Компоненты
                ul.product-catalog__list__ul
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Направляющие и другие изделия Murtfeldt
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Запчасти к оборудованию розлива Oberrecht
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Покрытия на валы
                    li.product-catalog__list__li
                        a(href='#').product-catalog__list__link Замки для лент Anker Flexco