section.progress-in-action
    .production-slider
        .item
            .progress-in-action__img-fill(style="background: url('img/progress-slider-1.png')")
            .progress-in-action__info
                .production-slider__info
                    h3.production-slider__title Пивоваренная группа. Завод в г.Клин
                    h5.production-slider__descr Переоснащение баночной линии цепями и лентами SystemPlast миз материала NG для работы без смазки. 2013г.
                    .progress-in-action__info__link--wrapper
                        a(href='#').progress-in-action__info__link.more Подробнее
                        a(href='#').progress-in-action__info__link.loock-all Смотреть все

        .item
            .progress-in-action__img-fill(style="background: url('img/progress-slider-1.png')")
            .progress-in-action__info
                .production-slider__info
                    h3.production-slider__title Пивоваренная группа. Завод в г.Клин
                    h5.production-slider__descr Переоснащение баночной линии цепями и лентами SystemPlast миз материала NG для работы без смазки. 2013г.
                    .progress-in-action__info__link--wrapper
                        a(href='#').progress-in-action__info__link.more Подробнее
                        a(href='#').progress-in-action__info__link.loock-all Смотреть все

        .item
            .progress-in-action__img-fill(style="background: url('img/progress-slider-1.png')")
            .progress-in-action__info
                .production-slider__info
                    h3.production-slider__title Пивоваренная группа. Завод в г.Клин
                    h5.production-slider__descr Переоснащение баночной линии цепями и лентами SystemPlast миз материала NG для работы без смазки. 2013г.
                    .progress-in-action__info__link--wrapper
                        a(href='#').progress-in-action__info__link.more Подробнее
                        a(href='#').progress-in-action__info__link.loock-all Смотреть все

        .item
            .progress-in-action__img-fill(style="background: url('img/progress-slider-1.png')")
            .progress-in-action__info
                .production-slider__info
                    h3.production-slider__title Пивоваренная группа. Завод в г.Клин
                    h5.production-slider__descr Переоснащение баночной линии цепями и лентами SystemPlast миз материала NG для работы без смазки. 2013г.
                    .progress-in-action__info__link--wrapper
                        a(href='#').progress-in-action__info__link.more Подробнее
                        a(href='#').progress-in-action__info__link.loock-all Смотреть все
    .why-progress__caption.without-bg.fixed-in-slider
        .why-progress__caption__title__green-band
        h2.why-progress__caption__title
            span.why-progress__caption__accent Прогресс&#160;
            | в действии