section.technical-solutions
    .technical-solutions--wrapper
        .technical-solutions__caption
            .technical-solutions__caption__title__green-band
            h2.technical-solutions__caption__title
                span.technical-solutions__caption__accent Технические решения&#160;
                | и новинки
        p.technical-solutions__description Конвейерные ленты для ротор-штампа, цепи и модульные ленты
            | для «работы без смазки» на линии розлива, ремни для фальцесклейки — всего более 40 готовых решений для конкретных участков
            | в различных отраслях промышленности
        .technical-solutions__link--wrapp
            a.technical-solutions__link(href='#') все решения