section.why-progress
    .why-progress__caption
        .why-progress__caption__title__green-band
        h2.why-progress__caption__title Почему&#160;
            span.why-progress__caption__accent Прогресс
            |?
    .why-progress__content
        ul.why-progress__list
            li.why-progress__item
                section.why-progress__list__img-section
                    img.why-progress__photo(src="img/production-items-1.png")
                section.why-progress__content-section
                    .why-progress__content-section-wrapper
                        div.why-progress__content-section__name
                            div.why-progress__number-section
                                div.why-progress__number-section__number 01
                                h3.why-progress__title Качество. &#160; Альтернатива. &#160;
                                    |Возможности.
                            div.why-progress__underline
                        .why-progress__content__items-description.mCustomScrollbar Для нас очевидно, что качество продукции во многом определяет отношение производителя к своему делу — какие материалы берутся за основу, какое оборудование и технологии используются, удобство взаимодействия и получения товара. Наши поставщики, это в первую очередь люди, поддерживающие наши ценности. Поэтому и «качество» — не просто слово, а реально подтвержденное свойство! Ассортимент из порядка 3 млн. комплектующих, поставляемый Прогрессом, позволяет как найти необходимую зап.часть, так и подобрать альтернативу уже имеющимся комплектующим. Помимо стандартной линейки продуктов, многие наши поставщики готовы браться за необычные, уникальные запросы и решать сложные технические задачи с помощью нестандартных заказных изделий. Это открывает большие возможности для наших партнеров.
                        div.why-progress__content__progress
                            span.why-progress__content__progress__accent 0,05%
                            | в 2016 году претензий от общего количества заказов
            li.why-progress__item
                section.why-progress__content-section
                    .why-progress__content-section-wrapper
                        div.why-progress__content-section__name
                            div.why-progress__number-section
                                div.why-progress__number-section__number 02
                                h3.why-progress__title Первые руки в России
                            div.why-progress__underline
                        .why-progress__content__items-description.mCustomScrollbar Прямой официальный канал поставки — это в первую
                            | очередь надежность и снижение дополнительных издержек.
                            | Однако, и обучения команды Прогресса, обмен знаниями
                            | по продукту и финансовые выгоды для наших партнеров возможны только при таком виде сотрудничества. По этой причине со всеми поставщиками Прогресс ведет отношения на базе официального представительства, а на наиболее значимые позиции —
                            | эксклюзивное представление интересов.
                            | В 2017 году уже были проведены переговоры по снижению цен
                            | на 15% на продукцию Megadyne. А также удалось отменить ежегодное повышение цен на ленты Nitta, приводы Motive и цепи Wippermann только для Российского рынка.
                        div.why-progress__content__progress
                            span.why-progress__content__progress__accent 87 000 €
                            | в 2016 году получено скидок для клиентов
                section.why-progress__list__img-section
                    img.why-progress__photo(src="img/production-items-2.png")
            li.why-progress__item
                section.why-progress__list__img-section
                    img.why-progress__photo(src="img/production-items-3.png")
                section.why-progress__content-section
                    .why-progress__content-section-wrapper
                        div.why-progress__content-section__name
                            div.why-progress__number-section
                                div.why-progress__number-section__number 03
                                h3.why-progress__title «Нужно вчера!» или еще о сроках
                            div.why-progress__underline
                        .why-progress__content__items-description.mCustomScrollbar «Нужно вчера!» нашим менеджерам знакомо не «понаслышке». Мы понимаем, что предприятие — это живой организм, на нем работают люди, а значит и форс-мажор возможен. Срочное производство и срочная доставка даже напрямую от производителя пусть и не часто пользуются спросом, однако, знание, что в непредвиденной ситуации есть большая вероятность избежать «простоя» оборудования и потерь на заводе вселяет спокойствие и уверенность.
                            | Во многом осуществлению срочного производства способствуют собственные складские площади и широкий ассортимент продукции «в наличии». А срочная доставка обеспечивается слаженной логистикой и тесным взаимовыгодным сотрудничеством с поставщиками Прогресса.
                            | Все стандартные-плановые сроки производства и поставки строго регламентированы и соблюдаются максимально жестко. Своевременная поставка комплектующих — во многом делает лицо поставщика!
                        div.why-progress__content__progress
                            span.why-progress__content__progress__accent 15
                            | каждый 15-й заказ в 2016 году — срочный