section.historical-note
    div.content
        div.caption
            div.caption__green-band
            h2.caption__title Историческая справка
        .historical-note__accordion
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 1999
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Организация первого в России производства и склада по полимерным конвейерным лентам
                        .accordion__header__img
                            img(src="img/about-item-history-1.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2001
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Обучение специалистов в Германии и Голландии.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Обновление производственного парка передовым европейским оборудованием. Впервые в России — приваривание гофроборта ИК — излучением и поперечного профиля на машинах ТВЧ
                        .accordion__header__img
                            .slider.image-slider-item
                                .image-slider-items.slick-active
                                    img(src='img/about-item-history-2.jpg')
                                    .accordion__header__img__description Организация первого в России производства и склада по полимерным конвейерным лентам
                                .image-slider-items
                                    img(src='img/about-item-history-3.jpg')
                                    .accordion__header__img__description Организация первого в России производства и склада по полимерным конвейерным лентам
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2003
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Организация производства и склада по плоским ремням, склада по приводам и зубчатым, клиновым ремням.
                        .accordion__header__img
                            img(src="img/about-item-history-3.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2006
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Обучение специалистов в Германии и Голландии.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Обновление производственного парка передовым европейским оборудованием. Впервые в России — приваривание гофроборта ИК — излучением и поперечного профиля на машинах ТВЧ
                        .accordion__header__img
                            img(src="img/about-item-history-4.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2007
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Прогресс — эксклюзивный представитель Wippermann в России. Организация сборочного производства модульных лент
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2009
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Реорганизация ТТЦ Прогресс в Компанию Прогресс.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Увеличение в 3 раза производственных мощностей.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Введение новых ценностей и философии бизнеса
                        .accordion__header__img
                            img(src="img/about-item-history-5.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2010
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Прогресс — эксклюзивный представитель System Plast и Obberecht в России
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2012
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Участие в выставке WorldFoodKazakhstan.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Начало сотрудничества с крупнейшими предприятиями Казахстана.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Открытие нового направления — тяговые ремни для протяжки кабеля производства AFH (Германия), получение статуса эксклюзивного представителя.
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2013
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Открытие дочернего предприятия в Краснодаре.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Открыт отдельный цех по нанесению покрытий на полимерные ленты и различные ремни.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Расширение складской программы — более 10 тыс. позиций.
                        .accordion__header__img
                            img(src="img/about-item-history-5.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2014
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Начало внедрения японской стратегии Kaizen, «бережливое производство».
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Открытие нового направления - ленты для птицефабрик — для яйцесбора и пометоудаления.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Успешная реализация крупных проектов по переоснащению линий розлива заводов, лидеров отрасли, на цепи и модульные ленты из материала NG для работы без смазки (впервые в России)
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2015
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Первая в России продольная пайка лент до 4-6 м в ширину.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Начало работы с группой Megadyne, усиление позиции и увеличение доли рынка премиальных ремней.
                        .accordion__header__img
                            img(src="img/about-item-history-6.jpg")
            label.accordion
                input(type='checkbox', name='radio-accordion')
                .accordion__header 2017
                    .accordion__header__circle__active
                        .accordion__header__circle__active__cover
                    .accordion__header__circle__inactive
                .accordion__content
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Освоение рынка в Армении.
                    .accordion.child-accordion
                        .child-accordion__content
                            .accordion__header Взят качественно новый уровень ведения производства за счет принципов Kaizen, «бережливое производство».
                        .accordion__header__img
                            img(src="img/jumbotron__img_1.jpg")
