section.how-work
    .how-work--bg(style="background-image:url('img/how-we-work-bg.jpg')")
    div.section-name
        div.section-name__number-section 04
        h2.section-name__title Как&#160;
            span.section-name__accent работаем
            | ?
    .content
        .how-work__description
            div.caption
                div.caption__green-band
                h2.caption__title Решая сложное — достигаем лучшего
            p.how-work__description__item
                span.how-work__description__item__accent Для Прогресса каждая задача клиента — это ступень развития себя.
                | Поэтому мы нашли отражение нашей миссии в японской концепции управления Кайдзен (яп. 改善 кайдзэн), которая базируется на непрерывном улучшении
                | и захватывает каждого  — от директора до рядового рабочего.
                |<br><br>
                | Являясь первопроходцем в России по внедрению Kaizen философии для производственной компании такой сферы, Прогресс адаптирует и применяет систему «бережливое производство» (устранение всех видов потерь) и ее основной инструмент — 5С (сортировка, систематизация, содержание в чистоте, стандартизация, самодисциплина).
                |<br><br>
                | Звучит всё просто и даже наивно, но представьте устранение временных потерь в 5 минут в день у одного сотрудника, например, на поиск необходимого рулона конвейерной ленты или бумаги для принтера в офисе — это 30 часов! рабочего времени в год, которое можно потратить на выполнение заказа или срочного ответа клиенту.
            .how-work__description__link--wrapper
                a(href="#").how-work__description__link Подробнее
        .how-work__note
            .personnel-department
                .personnel-department__avatar
                    img(src="img/about-item.jpg").personnel-department__avatar__img
                .personnel-department__info
                    .personnel-department__info--wrapper
                        .personnel-department__info--name Новиченко Екатерина
                        .personnel-department__info--position Коммерческий директор Компании Прогресс
                    .personnel-department__info--wrapper
                        .personnel-department__info--description Практика Kaizen реализует настоящий фокус на клиенте и его потребностях за счет собственного развития. Такая взаимность нам по душе!
