div.progress-in-numbers
    div.content
        div.caption
            div.caption__green-band
            h2.caption__title Прогресс в цифрах
        .progress-in-numbers__list
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="50")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description
                        strong.progress-in-numbers__important 18&#160;
                        | лет
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="75.3")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description &#126; &#160;
                        strong.progress-in-numbers__important 3 000 000&#160;
                        | € cтоимость склада
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="15")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description
                        strong.progress-in-numbers__important 15 000&#160;
                        | + позиций на складе
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="28")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description &#126; &#160;
                        strong.progress-in-numbers__important 2 800&#160;
                        | м<sup>2</sup> производственные площадки в Санкт-Петербурге и Краснодаре
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="40.3")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description &#126; &#160;
                        strong.progress-in-numbers__important 2 600&#160;
                        | тыс. лояльных клиентов
            .progress-in-numbers__item
                .progressbar(data-animate="false")
                    .circle(data-percent="50")
                        .progressbar__ico
                            .progressbar__ico__img
                    p.progress-in-numbers__description
                        strong.progress-in-numbers__important 100&#160;
                        | + сотрудников в Санкт-Петербурге и Краснодаре