section.solutions-industries.what-we-do
    div.section-name
        div.section-name__number-section 02
        h2.section-name__title Что&#160;
            span.section-name__accent делаем
            |?
    .content
        section.solutions-progress--action
            .solutions-progress
                ul.solutions-progress__list
                    li.solutions-progress__item
                        div.solutions-progress__blue-border
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__img-section(style="background-image: url('img/solutions-item-1.png')")
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__content-section
                                h3.solutions-progress__title Слышим и предугадываем потребности
                                a(href='#').solutions-progress-button Продукция
                    li.solutions-progress__item
                        div.solutions-progress__blue-border
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__img-section(style="background-image: url('img/solutions-item-2.png')")
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__content-section
                                h3.solutions-progress__title Решаем технические задачи разной сложности
                                a(href='#').solutions-progress-button Решения для отраслей
                    li.solutions-progress__item
                        div.solutions-progress__blue-border
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__img-section(style="background-image: url('img/solutions-item-3.png')")
                        section.solutions-progress__content-section-wrapper
                            .solutions-progress__content-section
                                h3.solutions-progress__title Сопровождаем каждый проект
                                .solutions-progress-description.mCustomScrollbar От расчета решения до поставки на предприятие и далее в процессе эксплуатации
                                a(href='#').solutions-progress-button Возможности сервиса