section.what-purpose
    .what-purpose--bg(style="background-image:url('img/about-item-logo.png')")
    div.section-name.dark-color
        div.section-name__number-section 03
        h2.section-name__title Какая&#160;
            span.section-name__accent цель
            | ?
    .content
        .what-purpose__progress
            p.what-purpose__description Сложно говорить о генеральной цели, не затрагивая идею и ключевые принципы работы компании. Само название Прогресса определяет его вектор движения.
            .what-purpose__accordion
                .accordion
                    .accordion__header Технический прогресс
                        .accordion__header__circle__active
                            .accordion__header__circle__active__cover
                    .accordion__content.child-accordion__content
                        .accordion.child-accordion
                            .accordion__header Поиск и внедрение актуальных технических решений
                .accordion
                    .accordion__header Социальный прогресс
                        .accordion__header__circle__active
                            .accordion__header__circle__active__cover
                    .accordion__content.child-accordion__content
                        .accordion.child-accordion
                            .accordion__header Решение поставленных задач и достижение максимального положительного эффекта
                .accordion
                    .accordion__header Социальный прогресс
                        .accordion__header__circle__active
                            .accordion__header__circle__active__cover
                    .accordion__content.child-accordion__content
                        .accordion.child-accordion
                            .accordion__header Достижение долгосрочного сотрудничества
            p.what-purpose__description--smaller Такие принципы работы в первую очередь направлены внутрь себя — самокритика и перманентный поиск оптимизирующих идей — вот основа. <br><br>
                |А дальше — открытый диалог с нашими партнерами — обмен мнениями и знаниями. Мы развиваемся, и мы развиваем.
            .what-purpose__progress__mission
                |Наша миссия: Усовершенствование каждого механизма — человека, процесса, предприятия.
        .what-purpose__progress__icons
            .what-purpose__progress__icons__item
                .what-purpose__progress__icons__item--ico
                    img(src="img/about-ico-teh.png").what-purpose__progress__icons__item--ico__img.
                .what-purpose__progress__icons__item--description Технический прогресс:
                    span.what-purpose__progress__icons__item--description__item опыт, знания, профессионализм
            .what-purpose__progress__icons__item
                .what-purpose__progress__icons__item--ico
                    img(src="img/about-ico-social.png").what-purpose__progress__icons__item--ico__img.
                .what-purpose__progress__icons__item--description Социальный прогресс:
                    span.what-purpose__progress__icons__item--description__item честность, открытость, уверенность
            .what-purpose__progress__icons__item
                .what-purpose__progress__icons__item--ico
                    img(src="img/about-ico-material.png").what-purpose__progress__icons__item--ico__img.
                .what-purpose__progress__icons__item--description Материальный прогресс:
                    span.what-purpose__progress__icons__item--description__item скорость, эффективность, взаимовыгода
