section.who-we-are
    div.who-we-are__content
        .who-we-are--wrapper
            div.section-name
                div.section-name__number-section 01
                h2.section-name__title Кто&#160;
                    span.section-name__accent мы
                    | ?
            div.caption
                div.caption__green-band
                h2.caption__title Команда
            p.content__description
                |Люди в Прогрессе легкие, сложные, суровые, мягкие, тихие, громкие, активные и гиперактивные, одним словом, разные, но есть то, что нас объединяет - харизма, общие ценности и стремление к профессиональному и личностному росту.
            h3.content__subtitle Люди в Прогрессе - прогрессивные люди!
        .gallery.slider
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/about-item.jpg')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
            .gallery__item.item
                .gallery__item__avatar
                    .gallery__item__avatar--img(style="background-image: url('img/personnel-department-avatar.png')")
                div.gallery__popup
                    h4.gallery__person-name Главный человек
                    p.gallery__person-post генеральный директор
