section.why-progress
    div.section-name.dark-color
        div.section-name__number-section 05
        h2.section-name__title Почему&#160;
            span.section-name__accent Прогресс
            | ?
    .content
        .why-progress__description Потому что мы знаем, что нужно нашим клиентам – «Качество, сроки и цена!» при оперативном и профессиональном подходе.
        .why-progress__ico-content
            .why-progress__ico-content__item
                .why-progress__ico-content__item__border
                .why-progress__ico-content__item--wrapper
                    .why-progress__ico-content__item-section
                        .why-progress__ico-content__item__ico__wrapper
                            .why-progress__ico-content__item__ico
                        .why-progress__ico-content__item__title 18 лет опыта в решении сложных технических задач
            .why-progress__ico-content__item
                .why-progress__ico-content__item__border
                .why-progress__ico-content__item--wrapper
                    .why-progress__ico-content__item-section
                        .why-progress__ico-content__item__ico__wrapper
                            .why-progress__ico-content__item__ico
                        .why-progress__ico-content__item__title Прямые поставки и оптимизированные схемы привоза товара
            .why-progress__ico-content__item
                .why-progress__ico-content__item__border
                .why-progress__ico-content__item--wrapper
                    .why-progress__ico-content__item-section
                        .why-progress__ico-content__item__ico__wrapper
                            .why-progress__ico-content__item__ico
                        .why-progress__ico-content__item__title Собственное производство и пополняемый склад
            .why-progress__ico-content__item
                .why-progress__ico-content__item__border
                .why-progress__ico-content__item--wrapper
                    .why-progress__ico-content__item-section
                        .why-progress__ico-content__item__ico__wrapper
                            .why-progress__ico-content__item__ico
                        .why-progress__ico-content__item__title Удобные сервис и логистика
            .why-progress__ico-content__item
                .why-progress__ico-content__item__border
                .why-progress__ico-content__item--wrapper
                    .why-progress__ico-content__item-section
                        .why-progress__ico-content__item__ico__wrapper
                            .why-progress__ico-content__item__ico
                        .why-progress__ico-content__item__title Гибкие условия оплаты