aside.aside
    div.aside-buttons
        div.button-menu
            svg.button-menu__icon(fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                path(d="M0 0h24v24H0z" fill="none")
                path(d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z")
            svg.button-menu__icon_close(fill="#2d607c" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                path(d="M0 0h24v24H0z" fill="none")
            span.button-menu__text Меню
        div.button-search
            img.button-search__icon(src="img/icon_search.svg")
        div.socials-buttons
            div.socials-buttons__button
                svg.socials-buttons__icon.socials-buttons__icon_fb(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.156" height="26.375" viewBox="0 0 13.156 26.375" fill="#bbbbbb")
                    path(id="Facebook" class="cls-1" d="M73.707,801.428h2.356v14.334h5.23V801.428h3.7l1-4.629H81.075s-0.383-1.924.346-2.644a2.74,2.74,0,0,1,1.913-.651,4.945,4.945,0,0,1,2.47,1l1.059-4.077c-1.63-.467-2.671-1.043-4.371-1.043a7.426,7.426,0,0,0-3.7.809,4.472,4.472,0,0,0-1.981,2.351,8.256,8.256,0,0,0-.606,3.644V796.8H73.779Z" transform="translate(-73.719 -789.375)")
            div.socials-buttons__button
                svg.socials-buttons__icon.socials-buttons__icon_vk(xmlns="http://www.w3.org/2000/svg" width="19.063" height="23.719" viewBox="0 0 19.063 23.719" fill="#bbbbbb")
                    path(id="В" class="cls-1" d="M88,868.511a6.505,6.505,0,0,0-3.538-1.886V866.5a5.129,5.129,0,0,0,2.409-1.989,5.573,5.573,0,0,0,.872-3.088,5.388,5.388,0,0,0-.632-2.643,4.576,4.576,0,0,0-1.913-1.83,7.672,7.672,0,0,0-2.537-.836,29.662,29.662,0,0,0-3.978-.2h-8.42v23.7H79.8a15.653,15.653,0,0,0,4.09-.447,8.42,8.42,0,0,0,2.953-1.5,6.347,6.347,0,0,0,1.809-2.213,6.817,6.817,0,0,0,.672-3.1A5.413,5.413,0,0,0,88,868.511Zm-6.611-4.528a1.923,1.923,0,0,1-.993.923,3.456,3.456,0,0,1-1.272.334q-0.617.033-2.153,0.032H76.218v-5.014h0.416q1.6,0,2.409.024a3.815,3.815,0,0,1,1.4.279,1.78,1.78,0,0,1,.921.875,2.67,2.67,0,0,1,.3,1.178A3.232,3.232,0,0,1,81.388,863.983Zm1.4,9.8a2.378,2.378,0,0,1-1.193,1.026,5.1,5.1,0,0,1-1.825.43q-0.9.032-3.233,0.031h-0.32v-5.937h1.1q1.6,0,2.553.024a4.677,4.677,0,0,1,1.5.231,2.722,2.722,0,0,1,1.345.938,2.894,2.894,0,0,1,.448,1.72A3.115,3.115,0,0,1,82.789,873.781Z" transform="translate(-70.25 -855.906)")
        div.arrow-up-for-scroll
            img.arrow-up-for-scroll__icon(src="img/icon_arrow-up.svg")
            span.arrow-up-for-scroll__text Наверх
