footer.footer
    ul.links
        li.links-item
            div.links-item__container
                h3.links-item__caption О нас
                ul.links-item__list
                    li.links-item__item
                        a.links-item__link(href="#") О Прогрессе
                    li.links-item__item
                        a.links-item__link(href="#") Ценности Прогресса
                    li.links-item__item
                        a.links-item__link(href="#") Команда
                    li.links-item__item
                        a.links-item__link(href="#") Производство
                    li.links-item__item
                        a.links-item__link(href="#") Сервис
        li.links-item
            div.links-item__container
                h3.links-item__caption Смотреть
                ul.links-item__list
                    li.links-item__item
                        a.links-item__link(href="#") Продукция
                    li.links-item__item
                        a.links-item__link(href="#") Решения для отраслей
                    li.links-item__item
                        a.links-item__link(href="#") Новости и события
                    li.links-item__item
                        a.links-item__link(href="#") FAQ
        li.links-item
            div.links-item__container
                h3.links-item__caption Скачать
                ul.links-item__list
                    li.links-item__item
                        a.links-item__link(href="#") Каталоги
                    li.links-item__item
                        a.links-item__link(href="#") Презентации
                    li.links-item__item
                        a.links-item__link(href="#") Видео
                    li.links-item__item
                        a.links-item__link(href="#") Опросные листы
        li.links-item
            div.links-item__container
                h3.links-item__caption Участвовать
                ul.links-item__list
                    li.links-item__item
                        a.links-item__link(href="#") Контакты
                    li.links-item__item
                        a.links-item__link(href="#") Вакансии
                    li.links-item__item
                        a.links-item__link(href="#") Задать вопрос

    div.feedback
        div.feedback__container
            h3.feedback__caption Задать вопрос
            form.feedback__fieldset
                input.feedback__input(placeholder="Ваше имя?")
                input.feedback__input(placeholder="Как с вами связаться?")
                textarea.feedback__textarea(placeholder="Что вас интересует?")
                button.feedback__submit-button(type="submit") Отправить

    div.footer__toggle-container
        div.address
            div.address__container
                h3.address__caption Головной офис
                address.address__text 192019, Санкт-Петербург,
                    br
                    |ул. Мельничная 18, лит. А. БЦ "Каскад"
        div.titles
            div.title__container
                a.titles__logo(href="#")
                    img(src="img/logo-indev.png")
                p.titles__row.adress &#169; &#171;Компания Прогресс&#187; 2004-2017 г.
                p.titles__row.copyright Разработка InDev Group


footer.footer_mobile
    div.links-item__container
        span.links-item__caption О нас
        ul.links-item__list
            li.links-item__item
                a.links-item__link(href="#") О Прогрессе
            li.links-item__item
                a.links-item__link(href="#") Ценности Прогресса
            li.links-item__item
                a.links-item__link(href="#") Команда
            li.links-item__item
                a.links-item__link(href="#") Производство
            li.links-item__item
                a.links-item__link(href="#") Сервис
    div.links-item__container
        span.links-item__caption Смотреть
        ul.links-item__list
            li.links-item__item
                a.links-item__link(href="#") Продукция
            li.links-item__item
                a.links-item__link(href="#") Решения для отраслей
            li.links-item__item
                a.links-item__link(href="#") Новости и события
            li.links-item__item
                a.links-item__link(href="#") FAQ
    div.links-item__container
        span.links-item__caption Скачать
        ul.links-item__list
            li.links-item__item
                a.links-item__link(href="#") Каталоги
            li.links-item__item
                a.links-item__link(href="#") Презентации
            li.links-item__item
                a.links-item__link(href="#") Видео
            li.links-item__item
                a.links-item__link(href="#") Опросные листы
    div.links-item__container
        span.links-item__caption Участвовать
        ul.links-item__list
            li.links-item__item
                a.links-item__link(href="#") Контакты
            li.links-item__item
                a.links-item__link(href="#") Вакансии
            li.links-item__item
                a.links-item__link(href="#") Задать вопрос

    div.address
        div.address__container
            h3.address__caption Головной офис
            address.address__text 192019, Санкт-Петербург,
                br
                |ул. Мельничная 18, лит. А. БЦ "Каскад"

    div.feedback
        div.feedback__container
            h3.feedback__caption Задать вопрос
            form.feedback__fieldset
                input.feedback__input(placeholder="Ваше имя?")
                input.feedback__input(placeholder="Как с вами связаться?")
                textarea.feedback__textarea(placeholder="Что вас интересует?")
                button.feedback__submit-button(type="submit") Отправить

    div.titles
        div.title__container
            a.titles__logo(href="#")
                img(src="img/logo-indev.png")
            p.titles__row &#169; &#171;Компания Прогресс&#187; 2004-2017 г.
            p.titles__row Разработка InDev Group
        div.socials
            a(href="#")
                svg.img.socials__icon(fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.156" height="26.375" viewBox="0 0 13.156 26.375")
                    path(path id="Facebook" class="cls-1" d="M73.707,801.428h2.356v14.334h5.23V801.428h3.7l1-4.629H81.075s-0.383-1.924.346-2.644a2.74,2.74,0,0,1,1.913-.651,4.945,4.945,0,0,1,2.47,1l1.059-4.077c-1.63-.467-2.671-1.043-4.371-1.043a7.426,7.426,0,0,0-3.7.809,4.472,4.472,0,0,0-1.981,2.351,8.256,8.256,0,0,0-.606,3.644V796.8H73.779Z" transform="translate(-73.719 -789.375)")
            a(href="#")
                svg.img.socials__icon(fill="#ffffff" xmlns="http://www.w3.org/2000/svg" width="19.063" height="23.719" viewBox="0 0 19.063 23.719")
                    path(id="В" class="cls-1" d="M88,868.511a6.505,6.505,0,0,0-3.538-1.886V866.5a5.129,5.129,0,0,0,2.409-1.989,5.573,5.573,0,0,0,.872-3.088,5.388,5.388,0,0,0-.632-2.643,4.576,4.576,0,0,0-1.913-1.83,7.672,7.672,0,0,0-2.537-.836,29.662,29.662,0,0,0-3.978-.2h-8.42v23.7H79.8a15.653,15.653,0,0,0,4.09-.447,8.42,8.42,0,0,0,2.953-1.5,6.347,6.347,0,0,0,1.809-2.213,6.817,6.817,0,0,0,.672-3.1A5.413,5.413,0,0,0,88,868.511Zm-6.611-4.528a1.923,1.923,0,0,1-.993.923,3.456,3.456,0,0,1-1.272.334q-0.617.033-2.153,0.032H76.218v-5.014h0.416q1.6,0,2.409.024a3.815,3.815,0,0,1,1.4.279,1.78,1.78,0,0,1,.921.875,2.67,2.67,0,0,1,.3,1.178A3.232,3.232,0,0,1,81.388,863.983Zm1.4,9.8a2.378,2.378,0,0,1-1.193,1.026,5.1,5.1,0,0,1-1.825.43q-0.9.032-3.233,0.031h-0.32v-5.937h1.1q1.6,0,2.553.024a4.677,4.677,0,0,1,1.5.231,2.722,2.722,0,0,1,1.345.938,2.894,2.894,0,0,1,.448,1.72A3.115,3.115,0,0,1,82.789,873.781Z" transform="translate(-70.25 -855.906)")
        button.arrow-up-for-scroll(type="button")
            svg(fill="#ffffff" height="54" viewBox="0 0 24 24" width="54" xmlns="http://www.w3.org/2000/svg")
                path(d="M0 0h24v24H0V0z" fill="none")
                path(d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z")
            span.arrow-up-for-scroll__text Наверх
