header.header
    div.header__container-logo
        a(href="#")
            img.header__logo(src="img/logo-progress.png")
    div.choice-town
        span.choice-town__current-value Санкт-Петербург
        ul.choice-town__list
            li.choice-town__item Санкт-Петербург
            li.choice-town__item Краснодар
            li.choice-town__item Казань
    a(href="tel:+78126220888").header__phone +7 (812) 622-08-88
    div.choice-language
        span.choice-language__item.choice-language__item_active.choice-language__item_rus РУС
        span.choice-language__item.choice-language__item_eng ENG
