div.nav-menu
  ul.nav-menu__list
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_o-nas
        span.nav-menu__text О нас
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_produkciya
        span.nav-menu__text Продукция
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_katalogi
        span.nav-menu__text Каталоги
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_proizvodstvo
        span.nav-menu__text Производство
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_servis
        span.nav-menu__text Сервис
    li.nav-menu__item
      a(href="#")
        include icons/icon_nav_kontakty
        span.nav-menu__text Контакты
    li.nav-menu__item.nav-menu__item_lang
      span.nav-menu__choose-lang Выберите язык
      span.nav-menu__lang-opt
        span.nav-menu__lang-rus.nav-menu__lang_active рус
        span.nav-menu__lang-eng eng
    li.nav-menu__item.nav-menu__item_contacts
      span.nav-menu__contact
        a(href="tel:+78126220888")
          span.nav-menu__number +7 (812) 622-08-88
          span.nav-menu__city Санкт-Петербург
      span.nav-menu__contact
        a(href="tel:+78612001383")
          span.nav-menu__number +7 (861) 200-13-83
          span.nav-menu__city Краснодар
      span.nav-menu__contact
        a(href="tel:+78432122828")
          span.nav-menu__number +7 (843) 212-28-28
          span.nav-menu__city Казань

