section.catalog-menu
    ul.catalog-menu__list
        li.catalog-menu__list__item.active
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_lenty.png').catalog-menu__list__item__link__img
                |Ленты
        li.catalog-menu__list__item
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_remni.png').catalog-menu__list__item__link__img
                |Ремни
        li.catalog-menu__list__item
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_cepi.png').catalog-menu__list__item__link__img
                |Цепи
        li.catalog-menu__list__item
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_privody.png').catalog-menu__list__item__link__img
                |Приводы
        li.catalog-menu__list__item
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_setki.png').catalog-menu__list__item__link__img
                |Сетки
        li.catalog-menu__list__item
            a(href='#').catalog-menu__list__item__link
                span.catalog-menu__list__item__link__border
                .catalog-menu__list__item__link__img--wrapper
                    img(src='img/products_componenti.png').catalog-menu__list__item__link__img
                |Компоненты