section.category-items
    ul.category-items__list
        li.category-items__item
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-1.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 01
                    h3.category-items__title Конвейерные&#160;
                        span.category-items__accent ленты&#160;
                        | Nitta
                div.category-items-description.mCustomScrollbar
                    | Ленты Nitta для конвейера, изготавливаемые из ПВХ, ПУ, хлопка, хитрила, силикона обладают широким выбором структур и характеристик. Применяются на предприятиях пищевой, деревообрабатывающей, в производстве строительных материалов и во многих других отраслях промышленности. У Прогресса собственное производство транспортерных лент с перегородками, гофробортами, направляющими, поворотных лент, лент с перфорацией и др. Более 75 позиций рулонного материала всегда на складе в Санкт-Петербурге.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item.category-items__item__dark-bg
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-2.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 02
                    h3.category-items__title
                        span.category-items__accent Ленты&#160;
                        | для птицефабрик
                div.category-items-description.mCustomScrollbar
                    | Ленты на пометоудаление и ленты на яйцесбор — это два новейших направления работы Прогресса с 2014 года. Для транспортеров птицеводческого оборудования: BigDutchman, Facco, Valli, Salmet, Kutlusan, эти ленты устанавливаются в начальной комплектации. Более 70 птицефабрик в России, Казахстане, Белоруссии и Армении уже используют наши ленты и доверяют нам.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-3.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 03
                    h3.category-items__title Модульные&#160;
                        span.category-items__accent ленты&#160;
                        | NGB
                div.category-items-description.mCustomScrollbar
                    | Модульные ленты конвейерные из полипропилена, полиэтилена и полиацетала, обладают сертификатом FDA для работы в непосредственном соприкосновении с пищевым продуктом. Идеальны для мясо- и рыбоперерабатывающей промышленности, участков мойки овощей и фруктов, охлаждающих и замораживающих туннелей, спиралевидных куллеров для производства хлебобулочных изделий и полуфабрикатов из теста, мяса, рыбы и других отраслей. 7 типов модульных пластиковых лент на складе в Санкт-Петербурге. Сборка модульных лент с перегородками, бортами, металлическими штырями под размеры заказчика осуществляется на нашем производстве в Санкт-Петербурге и Краснодаре.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item.category-items__item__dark-bg
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-4.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 04
                    h3.category-items__title Модульные&#160;
                        span.category-items__accent ленты&#160;
                        | SystemPlast
                div.category-items-description.mCustomScrollbar
                    | SystemPlast специализируется на линиях розлива напитков (сотрудничает с KHS, Krones, Sidel), производстве стекла, а также предлагает точечные решения — например, для процессов пастеризации в производстве напитков, консервированных овощей, автомобилестроения и производства гофрокартона для машин Bobst. Модульные ленты SP изготавливаются из особых пластиков NGevo, LF (полиацетал с низким коэффициентом трения) и других специальных материалов. Все такие модульные ленты строго соответствуют высоким требованиям отрасли применения.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-5.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 05
                    h3.category-items__title Резинотканевые&#160;
                        span.category-items__accent ленты
                div.category-items-description.mCustomScrollbar
                    | Шевронные, теплостойкие ленты, ленты с металлическим кордом и резинотканевые ленты для высоких нагрузок применяются на горнодобывающих, лесозаготавливающих, керамических и многих других отраслях.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item.category-items__item__dark-bg
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-6.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 06
                    h3.category-items__title Тефлоновые&#160;
                        span.category-items__accent  ленты
                div.category-items-description.mCustomScrollbar
                    | Тефлоновые ленты обладают, в первую очередь, «антиприлипающими» свойствами, высокой устойчивостью к различным жирам, маслам, химическим реагентам и широким диапазоном температур от -190°С до +260°С. Самые требованные самоклеющиеся покрытия из тефлона всегда на складе.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-7.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 07
                    h3.category-items__title Оборудование для соединения&#160;
                        span.category-items__accent лент&#160;
                        | Nitta
                div.category-items-description.mCustomScrollbar
                    | Для максимально быстрой и удобной самостоятельной замены конвейерной ленты Nitta на предприятии мы предлагаем проверенное нами оборудование для соединения — расслаивающие, зубовырубные машины и портативные пресса. При поставке оборудования наши специалисты проводят обучение технологиям соединения.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее
        li.category-items__item.category-items__item__dark-bg
            section.category-items__img-section
                img.category-items__photo(src="img/category-item-8.png")
            section.category-items__content-section
                div.category-items__content-section__name
                    div.category-items__number-section 08
                    h3.category-items__title Замки для&#160;
                        span.category-items__accent лент и плоских ремней&#160;
                        |  Anker Flexco
                div.category-items-description.mCustomScrollbar
                    | Конструкционные особенности конвейеров часто предусматривают установку конвейерной ленты на механических соединителях — замках. Наиболее распространенные замки для лент — Alligator («крокодильчики»), Lacing и Flexco c болтовым соединением — на складе.
                .category-items-button__wrapper
                    a(href='#').category-items-button Подробнее

    .category-items__links
        ul.category-items__links__nodes
            li.category-items__links__item
                span.category-items__links__item__position 01
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 02
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 03
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 04
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 05
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 06
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 07
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive
            li.category-items__links__item
                span.category-items__links__item__position 08
                .category-items-description__active
                    .category-items-description__active__splash
                    .category-items-description__active__cover
                .category-items-description__inactive