section.navigation-category
    h1.navigation-category__title Ленты
    p.navigation-category__breadcrumb
        a.navigation-category__link(href="#") Главная
        |&#160;>&#160;
        a.navigation-category__link(href="#") Продукция
        |&#160;> Ленты