section.about-manufacturer
    .about-manufacturer__container
        .about-manufacturer__logo--bg(style="background-image: url('img/subcategory-logo.png')")
        .about-manufacturer__caption
            .about-manufacturer__caption-wrapper
                .about-manufacturer__caption__title__green-band
                h2.about-manufacturer__caption__title О производителе
        .about-manufacturer__info
            .about-manufacturer__info__description
                p.about-manufacturer__info__description__info Мы с 2000 года поставляем конвейерные ленты марки Nitta и являемся ее эксклюзивным представителем в России. Nitta - японская корпорация, основанная в 1885 году и специализирующаяся на производстве конвейерных лент. Сегодня заводы конвейерных лент Nitta расположены по всему миру. <br>
                    | За многие десятилетия работы Nitta стали одними из самых востребованных транспортерных лент в мире, благодаря своему качеству и широте линейки продукции. Большое внимание Nitta уделяет расширению ассортимента, усовершенствованию продукции и новым разработкам, что позволяет предлагать клиентам более выгодные и надежные решения для транспортировки в различных отраслях промышленности.
                .about-manufacturer__info__description__link--wrapper
                    a(href='#').about-manufacturer__info__description__link Сертификаты поставщика
            .about-manufacturer__info__logo
                img.about-manufacturer__info__logo__avatar(src='img/subcategory-logo.png')