section.advantages
    .advantages__caption
        .advantages__caption-wrapper
            .advantages__caption__title__green-band
            h2.advantages__caption__title Преимущества
    ul.advantages__list
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 01
                | Короткий заголовок первого преимущества
            p.advantages__list__item__description Оригинальное сырье и технологии, потому что Nitta - единственная компания среди лидеров рынка, не перенесла свои производственные мощности в КНР.
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 02
                | 02 Второй заголовок
            p.advantages__list__item__description Для производства ПУ лент используется только 100% чистая ПУ пудра, что отвечает самым высоким требованиям износоустойчивости и масло- и жиростойкости.
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 03
                | Заголовок третьего преимущества
            p.advantages__list__item__description При производстве ПВХ лент используется только ПВХ материал и специальные стабилизаторы без мела и других удешевляющих компонентов, что обеспечивает абразивоустойчивость, работу в условиях наличия масел и жиров, повышенных температур.
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 04
                | Здесь четвертый
            p.advantages__list__item__description Мультиплетение корда, а его волокна обрабатываются по специальной технологии - это увеличивает срок службы ленты по сравнению с аналогами, а также позволяет выдерживать большую нагрузку.
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 05
                | Заголовок пятого преимущества
            p.advantages__list__item__description Каландровый способ производства обеспечивает отсутствие пористости рабочей поверхности и качественную связь между слоями ленты, корда и рабочей поверхности. Это обеспечивает длительный срок службы, высокую масло и жиростойкость.
        li.advantages__list__item
            h4.advantages__list__item__title
                span.advantages__list__item__number 06
                | Ну, и напоследок
            p.advantages__list__item__description Широкий ассортимент материалов рабочей поверхности и структур - для каждой отрасли промышленности.