section.design
    .design__caption
        .design__caption-wrapper
            .design__caption__title__green-band
            h2.design__caption__title Конструкция
    .design__accordion
        label.accordion
            input(type='checkbox', name='radio-accordion')
            .accordion__header Материалы рабочей поверхности
                .accordion__header__circle__active
                    .accordion__header__circle__active__cover
                .accordion__header__circle__inactive
            .accordion__content
                h4.accordion__content__title Приводная поверхность
                .accordion__content__table
                    .accordion__content__tables
                        .accordion__content__tables__top Открытый корд
                            span.accordion__content__tables__top__descr (*см. Типы кордов транспортерных лент)
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items Для лент, движущихся по столу
                            li.accordion__content__tables__list__items При необходимости придания ленте антистатических свойств (с добавлением графитовых нитей)
                            li.accordion__content__tables__list__items С волокнами искусственного шелка для снижения уровня шума
                    .accordion__content__tables
                        .accordion__content__tables__top Закрытый корд
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items Для увеличения Коэффициента трения между лентой и приводным валом
                    .accordion__content__tables
                        .accordion__content__tables__top Полуоткрытый корд, или стакан наполовину полон или пуст
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items Для увеличения Коэффициента трения между лентой и приводным валом
    
    
        label.accordion
            input(type='checkbox', name='radio-accordion')
            .accordion__header Структура рабочей поверхности транспортерных лент Nitta
                .accordion__header__circle__active
                    .accordion__header__circle__active__cover
                .accordion__header__circle__inactive
            .accordion__content
                h4.accordion__content__title Приводная поверхность
                .accordion__content__table
                    .accordion__content__tables
                        .accordion__content__tables__top Открытый корд
                            span.accordion__content__tables__top__descr (*см. Типы кордов транспортерных лент)
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по столу
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |При необходимости придания ленте антистатических свойств (с добавлением графитовых нитей)
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |С волокнами искусственного шелка для снижения уровня шума
                    .accordion__content__tables
                        .accordion__content__tables__top Закрытый корд
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
                    .accordion__content__tables
                        .accordion__content__tables__top Полуоткрытый корд, или стакан наполовину полон или пуст
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
    
        label.accordion
            input(type='checkbox', name='radio-accordion')
            .accordion__header Приводная поверхность
                .accordion__header__circle__active
                    .accordion__header__circle__active__cover
                .accordion__header__circle__inactive
            .accordion__content
                h4.accordion__content__title Приводная поверхность
                .accordion__content__table
                    .accordion__content__tables
                        .accordion__content__tables__top Открытый корд
                            span.accordion__content__tables__top__descr (*см. Типы кордов транспортерных лент)
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по столу
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |При необходимости придания ленте антистатических свойств (с добавлением графитовых нитей)
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |С волокнами искусственного шелка для снижения уровня шума
                    .accordion__content__tables
                        .accordion__content__tables__top Закрытый корд
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
                    .accordion__content__tables
                        .accordion__content__tables__top Полуоткрытый корд, или стакан наполовину полон или пуст
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
    
        label.accordion
            input(type='checkbox', name='radio-accordion')
            .accordion__header Внутренний слой (слои) транспортерных лент Nitta
                .accordion__header__circle__active
                    .accordion__header__circle__active__cover
                .accordion__header__circle__inactive
            .accordion__content
                h4.accordion__content__title Приводная поверхность
                .accordion__content__table
                    .accordion__content__tables
                        .accordion__content__tables__top Открытый корд
                            span.accordion__content__tables__top__descr (*см. Типы кордов транспортерных лент)
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по столу
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |При необходимости придания ленте антистатических свойств (с добавлением графитовых нитей)
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |С волокнами искусственного шелка для снижения уровня шума
                    .accordion__content__tables
                        .accordion__content__tables__top Закрытый корд
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
                    .accordion__content__tables
                        .accordion__content__tables__top Полуоткрытый корд, или стакан наполовину полон или пуст
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
    
        label.accordion
            input(type='checkbox', name='radio-accordion')
            .accordion__header Типы кордов транспортерных лент
                .accordion__header__circle__active
                    .accordion__header__circle__active__cover
                .accordion__header__circle__inactive
            .accordion__content
                h4.accordion__content__title Приводная поверхность
                .accordion__content__table
                    .accordion__content__tables
                        .accordion__content__tables__top Открытый корд
                            span.accordion__content__tables__top__descr (*см. Типы кордов транспортерных лент)
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по столу
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |При необходимости придания ленте антистатических свойств (с добавлением графитовых нитей)
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |С волокнами искусственного шелка для снижения уровня шума
                    .accordion__content__tables
                        .accordion__content__tables__top Закрытый корд
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом
                    .accordion__content__tables
                        .accordion__content__tables__top Полуоткрытый корд, или стакан наполовину полон или пуст
                        ul.accordion__content__tables__list
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для лент, движущихся по роликам
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для защиты корда от агрессивной внешней среды: вода, жир и масло, кровь, повышенная влажность
                            li.accordion__content__tables__list__items
                                span.accordion__content__tables__list__items__separate —
                                |Для увеличения Коэффициента трения между лентой и приводным валом