section.manufacturing
    .manufacturing__caption
        .manufacturing__caption-wrapper
            .manufacturing__caption__title__green-band
            h2.manufacturing__caption__title Производственные
                span.manufacturing__caption__accent возможности
    .manufacturing__info
        p.manufacturing__info__description Прогресс осуществляет полный контроль привоза комплектующих на прямую от заводов-изготовителей. Для этого в штате компании работает отдел ВЭД (внешнеэкономической деятельности). <br><br>
            | Используя самые экономичные и проверенные схемы привоза и надежных перевозчиков, Прогресс предоставляет полностью растаможенный товар, минимизируя финансовые издержки за счет постоянных и крупных партий груза, а также имеет возможность, при необходимости, сократить сроки поставки комплектующих для наших партнеров.
        .manufacturing__info__link--wrapper
            a(href='#').manufacturing__info__link Подробнее