section.more-category
    .more__caption
        .more__caption-wrapper
            .more__caption__title__green-band
            h2.more__caption__title С этим товаром смотрят
    .slider.more-item
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Замки для лент и плоских ремней Anker Flexco
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Оборудование для соединения лент Nitta
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Асинхронные трехфазные двигатели Motive
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Направляющие и другие изделия Murtfeldt
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Замки для лент и плоских ремней Anker Flexco
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Оборудование для соединения лент Nitta
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Асинхронные трехфазные двигатели Motive
        .more-items
            .more-items__border
            .more-items__img(style='background-image:url("img/image-slider.jpg")')
            a(href='#').more-items__link Направляющие и другие изделия Murtfeldt