section.navigation-subcategory
    h1.navigation-subcategory__title Конвейерные ленты Nitta
    p.navigation-subcategory__breadcrumb
        a.navigation-subcategory__link(href="#") Главная
        | &#160;>&#160;
        a.navigation-subcategory__link(href="#") Продукция
        | &#160;>&#160;
        a.navigation-subcategory__link(href="#") Ленты
        |&#160;> Конвейерные ленты Nitta