section.range
    .range__caption
        .range__caption-wrapper
            .range__caption__title__green-band
            h2.range__caption__title Ассортимент
    .slider.range__slider
        .range__slider__item--wrapper
            .range__slider__item
                .range__slider__img
                    img(src='img/production-items-1.png')
                .range__slider__info.mCustomScrollbar
                    .range__slider__info__title 1 Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
                    p.range__slider__info__description Номенклатура конвейерных лент Nitta по-настоящему широкая и охватывает различные сферы промышленности и производственные операции. Мы еще раз обращаем Ваше внимание, что транспортерные ленты – это прежде всего технически сложный продукт, имеющий помимо цвета и толщины большой спектр свойств. Только профессиональный подбор с учетом всех нюансов конкретно Вашей ситуации может обеспечить эффективную длительную эксплуатацию, а в ряде случаев и финансовую экономию. <br><br>
                        | Заполните опросный лист для расчета и правильного подбора лент Nitta нашими инженерами. Наличие подтвержденного опросного листа предоставляет гарантийные обязательства на продукцию от 6 до 12 месяцев в зависимости от условий эксплуатации и наличия агрессивных сред.
        .range__slider__item--wrapper
            .range__slider__item
                .range__slider__img
                    img(src='img/production-items-1.png')
                .range__slider__info.mCustomScrollbar
                    .range__slider__info__title 2 Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
                    p.range__slider__info__description Номенклатура конвейерных лент Nitta по-настоящему широкая и охватывает различные сферы промышленности и производственные операции. Мы еще раз обращаем Ваше внимание, что транспортерные ленты – это прежде всего технически сложный продукт, имеющий помимо цвета и толщины большой спектр свойств. Только профессиональный подбор с учетом всех нюансов конкретно Вашей ситуации может обеспечить эффективную длительную эксплуатацию, а в ряде случаев и финансовую экономию. <br><br>
                        | Заполните опросный лист для расчета и правильного подбора лент Nitta нашими инженерами. Наличие подтвержденного опросного листа предоставляет гарантийные обязательства на продукцию от 6 до 12 месяцев в зависимости от условий эксплуатации и наличия агрессивных сред.



    .range__read-more--link.read-more--link Читать дальше
    .slider.special-products-slider
        .special-products-slider__item--wrapper
            .special-products-slider__item
                .special-products-slider__info
                    h2.special-products-slider__info__top-title Особые серии продукции
                    .special-products-slider__info--wrapper.mCustomScrollbar
                        .special-products-slider__info__title 11 Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
                        p.special-products-slider__info__description Номенклатура конвейерных лент Nitta по-настоящему широкая и охватывает различные сферы промышленности и производственные операции. Мы еще раз обращаем Ваше внимание, что транспортерные ленты – это прежде всего технически сложный продукт, имеющий помимо цвета и толщины большой спектр свойств. <br><br>
                            | Только профессиональный подбор с учетом всех нюансов конкретно Вашей ситуации может обеспечить эффективную длительную эксплуатацию, а в ряде случаев и финансовую экономию.
                .special-products-slider__img
                    .special-products-slider__img__bg
                        img(src='img/subcategory-item.jpg')
                    p.special-products-slider__img__tagline Серия LKO586IO 8 с уникальным переплетением полотна
        .special-products-slider__item--wrapper
            .special-products-slider__item
                .special-products-slider__info
                    h2.special-products-slider__info__top-title Особые серии продукции
                    .special-products-slider__info--wrapper.mCustomScrollbar
                        .special-products-slider__info__title 3 Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
                        p.special-products-slider__info__description Номенклатура конвейерных лент Nitta по-настоящему широкая и охватывает различные сферы промышленности и производственные операции. Мы еще раз обращаем Ваше внимание, что транспортерные ленты – это прежде всего технически сложный продукт, имеющий помимо цвета и толщины большой спектр свойств. <br><br>
                            | Только профессиональный подбор с учетом всех нюансов конкретно Вашей ситуации может обеспечить эффективную длительную эксплуатацию, а в ряде случаев и финансовую экономию.
                .special-products-slider__img
                    .special-products-slider__img__bg
                        img(src='img/subcategory-item.jpg')
                    p.special-products-slider__img__tagline Серия LKO586IO 8 с уникальным переплетением полотна
        .special-products-slider__item--wrapper
            .special-products-slider__item
                .special-products-slider__info
                    h2.special-products-slider__info__top-title Особые серии продукции
                    .special-products-slider__info--wrapper.mCustomScrollbar
                        .special-products-slider__info__title 4 Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий.
                        p.special-products-slider__info__description Номенклатура конвейерных лент Nitta по-настоящему широкая и охватывает различные сферы промышленности и производственные операции. Мы еще раз обращаем Ваше внимание, что транспортерные ленты – это прежде всего технически сложный продукт, имеющий помимо цвета и толщины большой спектр свойств. <br><br>
                            | Только профессиональный подбор с учетом всех нюансов конкретно Вашей ситуации может обеспечить эффективную длительную эксплуатацию, а в ряде случаев и финансовую экономию.
                .special-products-slider__img
                    .special-products-slider__img__bg
                        img(src='img/subcategory-item.jpg')
                    p.special-products-slider__img__tagline Серия LKO586IO 8 с уникальным переплетением полотна
    .special-products__read-more--link.read-more--link Читать дальше