section.service
    .service__caption
        .service__caption-wrapper
            .service__caption__title__green-band
            h2.service__caption__title Сервис
    .service__item
        .service__item__info
            h4.service__item__info__title Профессионализм. Скорость. Надежность.
            .service__item__info__description.mCustomScrollbar
                |Прогресс осуществляет полный контроль привоза комплектующих на прямую от заводов-изготовителей. Для этого в штате компании работает отдел ВЭД (внешнеэкономической деятельности). Используя самые экономичные и проверенные схемы привоза и надежных перевозчиков, Прогресс предоставляет полностью растаможенный товар, минимизируя финансовые издержки за счет постоянных и крупных партий груза, а также имеет возможность, при необходимости, сократить сроки поставки комплектующих для наших партнеров.
            .service__item__info__link--wrapper
                a(href='#').service__item__info__link Подробнее
        .service__item__img(style="background-image: url('img/service-item.jpg')")