section.download-content.download-content_video
    div.download-content__block
        h3.download-content__block-title Видео
        div.download-content__items-block
            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description Nitta Holland производство конвейерных лент

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description Nitta's belts production (Holland)

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description Spann-Box Messemodel_Reversierbetrieb

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description 2012 01 25 01H14M PM

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description 2012 01 27 05H03M PM

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description Конвейерные ленты 00017

            div.download-content__item
                div.download-content__item-image.download-content__item-image_video(style="background-image: url('img/solutions-item-1.png')")
                    div.download-content__item-popup
                        a(href="#").download-content__item-popup_play
                            svg(fill="#ffffff" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z")
                span.download-content__item-description Video 0004
