section.download-content.download-content_catalogs
  div.download-content__block
    h3.download-content__block-title Конвейерные ленты, плоские и тяговые ремни
    div.download-content__items-block
      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-1.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Конвейерные ленты Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-2.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Плоские ремни Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-3.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Бесшовные тяговые ремни AFH
          a.download-content__item-description-link(href="#") Скачать

  div.download-content__block
    h3.download-content__block-title Синхронные и клиновые резиновые ПУ ремни
    div.download-content__items-block
      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-1.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Конвейерные ленты Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-2.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Плоские ремни Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-3.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Бесшовные тяговые ремни AFH
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-1.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Конвейерные ленты Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-2.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Плоские ремни Nitta
          a.download-content__item-description-link(href="#") Скачать

      div.download-content__item
        div.download-content__item-image.download-content__item-image_catalog(style="background-image: url('img/solutions-item-3.png')")
          div.download-content__item-popup
            a(href="#").download-content__item-popup_eye
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0 0h24v24H0z" fill="none")
                  path(d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
              span.download-content__popup-text смотреть
            a(href="#").download-content__item-popup_download
              svg(fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
                  path(d="M0 0h24v24H0z" fill="none")
              span.download-content__popup-text скачать
        span.download-content__item-description
          span.download-content__item-description-text Бесшовные тяговые ремни AFH
          a.download-content__item-description-link(href="#") Скачать
