section.filters
  div.filters__filter.filters__filter_category
    div.filters__filter_value
      div.filters__filter_value-text Ленты
      div.filters__icon
    ul.filters__options
      li.filters__option.filters__option_active Ленты
      li.filters__option Ремни
      li.filters__option Цепи
      li.filters__option Приводы
      li.filters__option Сетки
      li.filters__option Компоненты
  div.filters__filter.filters__filter_type
    div.filters__filter_value
      div.filters__filter_value-text Конвейерные ленты Nitta
      div.filters__icon
    ul.filters__options
      li.filters__option.filters__option_active Конвейерные ленты Nitta
      li.filters__option Сетчатые ремни Dritta
      li.filters__option Круглые цепи Chitta
      li.filters__option Электрические приводы Pitta
      li.filters__option Цепляющие сетки Sitta
      li.filters__option Умные компоненты Kitta
